In [229]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import datetime as dt
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
from imblearn.metrics import classification_report_imbalanced
from bioinfokit import visuz

In [231]:
# Connect posgres engine
engine = create_engine('postgresql+psycopg2://dylankurth:postgres@localhost:5432/crash_analysis')

In [232]:
# Read database table into pandas df
crash_df_1 = pd.read_sql_table('Accident', engine)
crash_df_1

,Crash_ID,Crash_Date,Crash_Time,Day_of_Week,Adt_Curnt_Amt,Adt_Curnt_Year,Trk_Aadt_Pct,Year
0,14839123,2016-01-01,12:23 AM,FRI,39424.0,2018.0,18.0,2016
1,14840287,2016-01-01,07:40 AM,FRI,39424.0,2018.0,18.0,2016
2,14840860,2016-01-03,06:48 PM,SUN,43413.0,2018.0,18.0,2016
3,14850383,2016-01-07,09:05 AM,THU,31038.0,2018.0,21.0,2016
4,14863190,2016-01-12,04:01 PM,TUE,39424.0,2018.0,18.0,2016
...,...,...,...,...,...,...,...,...
56175,17293867,2019-09-06,11:43 AM,FRI,10460.0,2018.0,6.0,2019
56176,17302636,2019-09-22,12:40 PM,SUN,10460.0,2018.0,6.0,2019
56177,17318171,2019-09-30,10:45 AM,MON,10460.0,2018.0,6.0,2019
56178,17361764,2019-10-24,02:07 PM,THU,10460.0,2018.0,6.0,2019
56179,17648044,2020-04-04,03:21 PM,SAT,10460.0,2018.0,6.0,2020

In [233]:
# Read database table into pandas df
crash_df_2 = pd.read_sql_table('Accident_Conditions', engine)
crash_df_2

,Crash_ID,Crash_Speed_Limit,Wthr_Cond_ID,Light_Cond_ID,Surf_Cond_ID,Traffic_Cntl_ID,Harm_Evnt_ID,Intrsct_Relat_ID,FHE_Collsn_ID,Road_Relat_ID
0,14839123,80,11,4,1,20,10,4.0,1,2.0
1,14840287,80,11,1,1,11,7,4.0,1,2.0
2,14840860,80,11,4,1,1,6,4.0,1,1.0
3,14850383,80,5,1,1,20,2,4.0,21,1.0
4,14863190,65,11,1,1,5,2,1.0,10,1.0
...,...,...,...,...,...,...,...,...,...,...
56175,17293867,45,11,1,1,8,2,1.0,10,1.0
56176,17302636,45,11,1,1,11,2,1.0,13,1.0
56177,17318171,45,2,1,2,17,2,1.0,14,1.0
56178,17361764,45,12,1,1,20,2,2.0,22,1.0
56179,17648044,-1,2,1,2,5,2,1.0,23,1.0

In [234]:
# Read database table into pandas df
crash_df_3 = pd.read_sql_table('Accident_Injury', engine)
crash_df_3

,Crash_ID,Crash_Sev_ID,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt
0,14839123,2,1,0,0,0,1,0
1,14840287,5,0,0,1,0,0,0
2,14840860,3,0,1,1,0,1,0
3,14850383,3,0,1,2,0,1,0
4,14863190,2,1,3,0,0,4,0
...,...,...,...,...,...,...,...,...
56175,17293867,5,0,0,2,0,0,0
56176,17302636,5,0,0,3,0,0,0
56177,17318171,2,1,0,1,0,1,0
56178,17361764,3,0,1,1,0,1,0
56179,17648044,5,0,0,3,0,0,0

In [235]:
# Read database table into pandas df
crash_df_4 = pd.read_sql_table('Accident_Location', engine)
crash_df_4

,Crash_ID,Cnty_ID,City_ID,Latitude,Longitude,Hwy_Sys,Hwy_Nbr,Dfo,Street_Name,Onsys_Fl,...,HY_1,HY_2,HY_3,HY_4,Corridor_ID,Road_ID,Average_AADT,RLD,PED,INT
0,14839123,227,9999,30.0,-98.0,SH,130.0,29.0,SH0130,Y,...,43413.0,43788.0,42315.0,38748.0,28.0,1188.0,42837.0,1,0,0
1,14840287,227,9999,30.0,-98.0,SH,130.0,33.0,SH0130,Y,...,43413.0,43788.0,42315.0,38748.0,28.0,1192.0,42837.0,1,0,0
2,14840860,227,9999,30.0,-98.0,SH,130.0,35.0,SH0130,Y,...,43413.0,43788.0,42315.0,38748.0,28.0,1194.0,42837.0,0,0,0
3,14850383,227,22,30.0,-98.0,SH,130.0,39.0,SH0130,Y,...,31038.0,30351.0,28878.0,25311.0,28.0,1207.0,29864.0,0,0,0
4,14863190,227,9999,30.0,-98.0,SH,130.0,25.0,SH0130,Y,...,39424.0,41579.0,39927.0,36360.0,28.0,1180.0,39841.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56175,17293867,227,9999,30.0,-98.0,FS,1825.0,0.0,FS1825,Y,...,10460.0,10329.0,9326.0,7479.0,14.0,489.0,9608.0,0,0,1
56176,17302636,227,9999,30.0,-98.0,FS,1825.0,0.0,FS1825,Y,...,10460.0,10329.0,9326.0,7479.0,14.0,489.0,9608.0,0,0,1
56177,17318171,227,9999,30.0,-98.0,FS,1825.0,1.0,FS1825,Y,...,10460.0,10329.0,9326.0,7479.0,14.0,492.0,9608.0,0,0,1
56178,17361764,227,9999,30.0,-98.0,FS,1825.0,1.0,FS1825,Y,...,10460.0,10329.0,9326.0,7479.0,14.0,493.0,9608.0,0,0,1
56179,17648044,227,9999,30.0,-98.0,FS,1825.0,1.0,FS1825,Y,...,10460.0,10329.0,9326.0,7479.0,14.0,490.0,9608.0,0,0,1

In [236]:
crash_df_5 = pd.read_sql_table('Accident_Vehicle', engine)
crash_df_5

       Crash_ID Cmv_Involv_Fl
0      14839123             N
1      14840287             N
2      14840860             N
3      14850383             N
4      14863190             N
...         ...           ...
56175  17293867             N
56176  17302636             N
56177  17318171             N
56178  17361764             N
56179  17648044             N

[56180 rows x 2 columns]

In [237]:
crash_df_6 = pd.read_sql_table('Accident_RINO', engine)
crash_df_6

,Road_ID,RIA_RTE_ID,FRM_DFO,TO_DFO,HWY,HSYS,HNUM,DI,CO,CITY,...,LANE_WIDTH,LEN_SEC,LN_MILES,DVMT,DTRKVMT,Corridor_ID,HY_1,HY_2,HY_3,HY_4
0,1,FM0685-KG,6.0,6.0,FM0685,FM,685,14,227,32580,...,12,0.0,1.0,7701.0,334.0,29334,26538,28012,24253,1
1,2,FM0685-KG,6.0,6.0,FM0685,FM,685,14,227,32580,...,13,0.0,2.0,14570.0,631.0,29334,26538,28012,24253,1
2,3,FM0685-KG,6.0,6.0,FM0685,FM,685,14,227,32580,...,13,0.0,0.0,565.0,24.0,29334,26538,28012,24253,1
3,4,FM0685-KG,6.0,8.0,FM0685,FM,685,14,227,32580,...,13,1.0,6.0,44274.0,1918.0,29334,26538,28012,24253,1
4,5,FM0685-KG,8.0,8.0,FM0685,FM,685,14,227,32580,...,12,0.0,0.0,1130.0,49.0,29334,26538,28012,24253,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,1825,US0290-KG,139.0,140.0,US0290,US,290,14,227,26450,...,12,1.0,4.0,31885.0,2716.0,30629,28104,28431,27821,38
1825,1826,US0290-KG,140.0,142.0,US0290,US,290,14,227,0,...,12,2.0,7.0,57062.0,4861.0,30629,28104,28431,27821,38
1826,1827,US0290-KG,142.0,142.0,US0290,US,290,14,227,13300,...,12,0.0,0.0,2787.0,237.0,30629,28104,28431,27821,38
1827,1828,US0290-KG,142.0,143.0,US0290,US,290,14,227,13300,...,12,1.0,5.0,39879.0,3397.0,30629,28104,28431,27821,38
1828,1829,US0290-KG,143.0,143.0,US0290,US,290,14,227,13300,...,12,0.0,1.0,4944.0,418.0,31096,26617,28544,26303,38

In [267]:
# Merge tables into one dataframe
crash_df = pd.concat([crash_df_1, crash_df_2, crash_df_3, crash_df_4, crash_df_5], axis=1)
crash_df

,Crash_ID,Crash_Date,Crash_Time,Day_of_Week,Adt_Curnt_Amt,Adt_Curnt_Year,Trk_Aadt_Pct,Year,Crash_ID,Crash_Speed_Limit,...,HY_3,HY_4,Corridor_ID,Road_ID,Average_AADT,RLD,PED,INT,Crash_ID,Cmv_Involv_Fl
0,14839123,2016-01-01,12:23 AM,FRI,39424.0,2018.0,18.0,2016,14839123,80,...,42315.0,38748.0,28.0,1188.0,42837.0,1,0,0,14839123,N
1,14840287,2016-01-01,07:40 AM,FRI,39424.0,2018.0,18.0,2016,14840287,80,...,42315.0,38748.0,28.0,1192.0,42837.0,1,0,0,14840287,N
2,14840860,2016-01-03,06:48 PM,SUN,43413.0,2018.0,18.0,2016,14840860,80,...,42315.0,38748.0,28.0,1194.0,42837.0,0,0,0,14840860,N
3,14850383,2016-01-07,09:05 AM,THU,31038.0,2018.0,21.0,2016,14850383,80,...,28878.0,25311.0,28.0,1207.0,29864.0,0,0,0,14850383,N
4,14863190,2016-01-12,04:01 PM,TUE,39424.0,2018.0,18.0,2016,14863190,65,...,39927.0,36360.0,28.0,1180.0,39841.0,0,0,1,14863190,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56175,17293867,2019-09-06,11:43 AM,FRI,10460.0,2018.0,6.0,2019,17293867,45,...,9326.0,7479.0,14.0,489.0,9608.0,0,0,1,17293867,N
56176,17302636,2019-09-22,12:40 PM,SUN,10460.0,2018.0,6.0,2019,17302636,45,...,9326.0,7479.0,14.0,489.0,9608.0,0,0,1,17302636,N
56177,17318171,2019-09-30,10:45 AM,MON,10460.0,2018.0,6.0,2019,17318171,45,...,9326.0,7479.0,14.0,492.0,9608.0,0,0,1,17318171,N
56178,17361764,2019-10-24,02:07 PM,THU,10460.0,2018.0,6.0,2019,17361764,45,...,9326.0,7479.0,14.0,493.0,9608.0,0,0,1,17361764,N
56179,17648044,2020-04-04,03:21 PM,SAT,10460.0,2018.0,6.0,2020,17648044,-1,...,9326.0,7479.0,14.0,490.0,9608.0,0,0,1,17648044,N

In [268]:
# list columns
crash_df.columns.to_list()

['Crash_ID',
 'Crash_Date',
 'Crash_Time',
 'Day_of_Week',
 'Adt_Curnt_Amt',
 'Adt_Curnt_Year',
 'Trk_Aadt_Pct',
 'Year',
 'Crash_ID',
 'Crash_Speed_Limit',
 'Wthr_Cond_ID',
 'Light_Cond_ID',
 'Surf_Cond_ID',
 'Traffic_Cntl_ID',
 'Harm_Evnt_ID',
 'Intrsct_Relat_ID',
 'FHE_Collsn_ID',
 'Road_Relat_ID',
 'Crash_ID',
 'Crash_Sev_ID',
 'Nonincap_Injry_Cnt',
 'Poss_Injry_Cnt',
 'Non_Injry_Cnt',
 'Unkn_Injry_Cnt',
 'Tot_Injry_Cnt',
 'Death_Cnt',
 'Crash_ID',
 'Cnty_ID',
 'City_ID',
 'Latitude',
 'Longitude',
 'Hwy_Sys',
 'Hwy_Nbr',
 'Dfo',
 'Street_Name',
 'Onsys_Fl',
 'Rural_Fl',
 'Shldr_Width_Left',
 'Shldr_Width_Right',
 'Median_Width',
 'Nbr_Of_Lane',
 'Func_Sys_ID',
 'Curve_Type_ID',
 'HY_1',
 'HY_2',
 'HY_3',
 'HY_4',
 'Corridor_ID',
 'Road_ID',
 'Average_AADT',
 'RLD',
 'PED',
 'INT',
 'Crash_ID',
 'Cmv_Involv_Fl']

In [269]:
# Although these variables may help predict, they were dropped due to missing data: Curve_Lngth, Cd_Degr, Curve_Type_ID
crash_df2 = crash_df.drop(crash_df.columns.difference([
'Crash_Speed_Limit',
'Crash_Time',
'Crash_Date',
'Wthr_Cond_ID',
'Light_Cond_ID',
'Surf_Cond_ID',
'Traffic_Cntl_ID',
'Rural_Fl',
'Crash_Sev_ID',
'Day_of_Week',
'Shldr_Width_Left',
'Shldr_Width_Right',
'Median_Width',
'Nbr_Of_Lane',
'Trk_Aadt_Pct',
'Average_AADT',      
'FHE_Collsn_ID',
'Cmv_Involv_Fl',
'PED',
'RLD',
'INT',
'DVMT',
'DTRKVMT',
'LANE_WIDTH',
'SPD_MAX',
'Curve_Lngth',
'Func_Sys_ID',
'Harm_Evnt_ID',
'Road_Relat_ID']), axis=1)

crash_df2.dtypes

Crash_Date           datetime64[ns]
Crash_Time                   object
Day_of_Week                  object
Trk_Aadt_Pct                float64
Crash_Speed_Limit             int64
Wthr_Cond_ID                  int64
Light_Cond_ID                 int64
Surf_Cond_ID                  int64
Traffic_Cntl_ID               int64
Harm_Evnt_ID                  int64
FHE_Collsn_ID                 int64
Road_Relat_ID               float64
Crash_Sev_ID                  int64
Rural_Fl                     object
Shldr_Width_Left            float64
Shldr_Width_Right           float64
Median_Width                float64
Nbr_Of_Lane                 float64
Func_Sys_ID                 float64
Average_AADT                float64
RLD                           int64
PED                           int64
INT                           int64
Cmv_Involv_Fl                object
dtype: object

In [270]:
# Check for Na
crash_df2.isna().sum()

Crash_Date           0
Crash_Time           0
Day_of_Week          0
Trk_Aadt_Pct         0
Crash_Speed_Limit    0
Wthr_Cond_ID         0
Light_Cond_ID        0
Surf_Cond_ID         0
Traffic_Cntl_ID      0
Harm_Evnt_ID         0
FHE_Collsn_ID        0
Road_Relat_ID        0
Crash_Sev_ID         0
Rural_Fl             0
Shldr_Width_Left     0
Shldr_Width_Right    0
Median_Width         0
Nbr_Of_Lane          0
Func_Sys_ID          0
Average_AADT         0
RLD                  0
PED                  0
INT                  0
Cmv_Involv_Fl        0
dtype: int64

In [271]:
# Removed due to null values
#crash_df2['Curve_Lngth'] = crash_df2['Curve_Lngth'].replace(np.nan, 0)

In [272]:
crash_df2.isna().sum()

Crash_Date           0
Crash_Time           0
Day_of_Week          0
Trk_Aadt_Pct         0
Crash_Speed_Limit    0
Wthr_Cond_ID         0
Light_Cond_ID        0
Surf_Cond_ID         0
Traffic_Cntl_ID      0
Harm_Evnt_ID         0
FHE_Collsn_ID        0
Road_Relat_ID        0
Crash_Sev_ID         0
Rural_Fl             0
Shldr_Width_Left     0
Shldr_Width_Right    0
Median_Width         0
Nbr_Of_Lane          0
Func_Sys_ID          0
Average_AADT         0
RLD                  0
PED                  0
INT                  0
Cmv_Involv_Fl        0
dtype: int64

In [273]:
# Replace unreasonable or missing data. Follow up. also change to function. 
crash_df3 = crash_df2.copy() 
crash_df3.loc[crash_df3['Crash_Speed_Limit'] <= 14,'Crash_Speed_Limit'] = np.nan
crash_df3.loc[crash_df3['Wthr_Cond_ID'] < 1,'Wthr_Cond_ID'] = np.nan
crash_df3.loc[crash_df3['Light_Cond_ID'] < 1,'Light_Cond_ID'] = np.nan
crash_df3.loc[crash_df3['Surf_Cond_ID'] < 1,'Surf_Cond_ID'] = np.nan
# crash_df3['Hwy_Nbr'] = crash_df3['Hwy_Nbr'].astype(object)
# frequency = crash_df3['Surf_Cond_ID'].value_counts()
# print(frequency)
# print(crash_df3['Crash_Speed_Limit'])
crash_df3.info()
# crash_df3.head()
# print(crash_df3['Hwy_Nbr'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56180 entries, 0 to 56179
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Crash_Date         56180 non-null  datetime64[ns]
 1   Crash_Time         56180 non-null  object
 2   Day_of_Week        56180 non-null  object
 3   Trk_Aadt_Pct       56180 non-null  float64
 4   Crash_Speed_Limit  44535 non-null  float64
 5   Wthr_Cond_ID       56051 non-null  float64
 6   Light_Cond_ID      56081 non-null  float64
 7   Surf_Cond_ID       56065 non-null  float64
 8   Traffic_Cntl_ID    56180 non-null  int64
 9   Harm_Evnt_ID       56180 non-null  int64
 10  FHE_Collsn_ID      56180 non-null  int64
 11  Road_Relat_ID      56180 non-null  float64
 12  Crash_Sev_ID       56180 non-null  int64
 13  Rural_Fl           56180 non-null  object
 14  Shldr_Width_Left   56180 non-null  float64
 15  Shldr_Width_Right  56180 non-null  float64
 16  Median_Width       56180 non-null  float64
 17  Nbr_Of_Lane        56180 non-null  float64
 18  Func_Sys_ID        56180 non-null  float64
 19  Average_AADT       56180 non-null  float64
 20  RLD                56180 non-null  int64
 21  PED                56180 non-null  int64
 22  INT                56180 non-null  int64
 23  Cmv_Involv_Fl      56180 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(7), object(4)
memory usage: 10.3+ MB

In [274]:
# We'll drop NaN for now to see if the model works with the remaining rows. 
crash_df3 = crash_df3.dropna()

In [275]:
crash_df3.dtypes

Crash_Date           datetime64[ns]
Crash_Time                   object
Day_of_Week                  object
Trk_Aadt_Pct                float64
Crash_Speed_Limit           float64
Wthr_Cond_ID                float64
Light_Cond_ID               float64
Surf_Cond_ID                float64
Traffic_Cntl_ID               int64
Harm_Evnt_ID                  int64
FHE_Collsn_ID                 int64
Road_Relat_ID               float64
Crash_Sev_ID                  int64
Rural_Fl                     object
Shldr_Width_Left            float64
Shldr_Width_Right           float64
Median_Width                float64
Nbr_Of_Lane                 float64
Func_Sys_ID                 float64
Average_AADT                float64
RLD                           int64
PED                           int64
INT                           int64
Cmv_Involv_Fl                object
dtype: object

In [276]:

crash_df3['Crash_Date'] = pd.to_datetime(crash_df3['Crash_Date'])
crash_df3['Crash_Date'] = crash_df3['Crash_Date'].apply(lambda x: x.toordinal())
crash_df3

,Crash_Date,Crash_Time,Day_of_Week,Trk_Aadt_Pct,Crash_Speed_Limit,Wthr_Cond_ID,Light_Cond_ID,Surf_Cond_ID,Traffic_Cntl_ID,Harm_Evnt_ID,...,Shldr_Width_Left,Shldr_Width_Right,Median_Width,Nbr_Of_Lane,Func_Sys_ID,Average_AADT,RLD,PED,INT,Cmv_Involv_Fl
0,735964,12:23 AM,FRI,18.0,80.0,11.0,4.0,1.0,20,10,...,12.0,20.0,135.0,4.0,12.0,42837.0,1,0,0,N
1,735964,07:40 AM,FRI,18.0,80.0,11.0,1.0,1.0,11,7,...,12.0,20.0,135.0,4.0,12.0,42837.0,1,0,0,N
2,735966,06:48 PM,SUN,18.0,80.0,11.0,4.0,1.0,1,6,...,12.0,20.0,135.0,4.0,12.0,42837.0,0,0,0,N
3,735970,09:05 AM,THU,21.0,80.0,5.0,1.0,1.0,20,2,...,12.0,20.0,135.0,4.0,12.0,29864.0,0,0,0,N
4,735975,04:01 PM,TUE,18.0,65.0,11.0,1.0,1.0,5,2,...,8.0,20.0,135.0,4.0,12.0,39841.0,0,0,1,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56174,737310,01:21 AM,SUN,6.0,45.0,11.0,3.0,1.0,20,10,...,8.0,8.0,0.0,2.0,16.0,9608.0,1,0,0,N
56175,737308,11:43 AM,FRI,6.0,45.0,11.0,1.0,1.0,8,2,...,8.0,8.0,0.0,2.0,16.0,9608.0,0,0,1,N
56176,737324,12:40 PM,SUN,6.0,45.0,11.0,1.0,1.0,11,2,...,8.0,8.0,0.0,2.0,16.0,9608.0,0,0,1,N
56177,737332,10:45 AM,MON,6.0,45.0,2.0,1.0,2.0,17,2,...,8.0,8.0,0.0,2.0,16.0,9608.0,0,0,1,N
56178,737356,02:07 PM,THU,6.0,45.0,12.0,1.0,1.0,20,2,...,8.0,8.0,0.0,2.0,17.0,9608.0,0,0,1,N

In [277]:
crash_df3['Crash_Date'].dtypes

dtype('int64')

In [278]:
crash_df3['Crash_Time'] = pd.to_datetime(crash_df3['Crash_Time']).dt.hour

In [279]:

days_num = {
   "SUN": 1,
   "MON": 2,
   "TUE": 3,
   "WED": 4,
   "THU": 5,
   "FRI": 6,
   "SAT": 7,
}

In [280]:
crash_df3["Day_of_Week"] = crash_df3["Day_of_Week"].apply(lambda x: days_num[x])

In [281]:
le = LabelEncoder()
crash_df3 = crash_df3.copy()
# crash_df3['Hwy_Nbr'] = le.fit_transform(crash_df3['Hwy_Nbr'])
# crash_df3.head()
# print(crash_df3['Hwy_Nbr'])
crash_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44418 entries, 0 to 56178
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Crash_Date         44418 non-null  int64
 1   Crash_Time         44418 non-null  int64
 2   Day_of_Week        44418 non-null  int64
 3   Trk_Aadt_Pct       44418 non-null  float64
 4   Crash_Speed_Limit  44418 non-null  float64
 5   Wthr_Cond_ID       44418 non-null  float64
 6   Light_Cond_ID      44418 non-null  float64
 7   Surf_Cond_ID       44418 non-null  float64
 8   Traffic_Cntl_ID    44418 non-null  int64
 9   Harm_Evnt_ID       44418 non-null  int64
 10  FHE_Collsn_ID      44418 non-null  int64
 11  Road_Relat_ID      44418 non-null  float64
 12  Crash_Sev_ID       44418 non-null  int64
 13  Rural_Fl           44418 non-null  object
 14  Shldr_Width_Left   44418 non-null  float64
 15  Shldr_Width_Right  44418 non-null  float64
 16  Median_Width       44418 non-null  float64
 17  Nbr_Of_Lane        44418 non-null  float64
 18  Func_Sys_ID        44418 non-null  float64
 19  Average_AADT       44418 non-null  float64
 20  RLD                44418 non-null  int64
 21  PED                44418 non-null  int64
 22  INT                44418 non-null  int64
 23  Cmv_Involv_Fl      44418 non-null  object
dtypes: float64(12), int64(10), object(2)
memory usage: 8.5+ MB

In [282]:
crash_df4 = pd.get_dummies(crash_df3, columns=["Rural_Fl", "Cmv_Involv_Fl"])
crash_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44418 entries, 0 to 56178
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Crash_Date         44418 non-null  int64
 1   Crash_Time         44418 non-null  int64
 2   Day_of_Week        44418 non-null  int64
 3   Trk_Aadt_Pct       44418 non-null  float64
 4   Crash_Speed_Limit  44418 non-null  float64
 5   Wthr_Cond_ID       44418 non-null  float64
 6   Light_Cond_ID      44418 non-null  float64
 7   Surf_Cond_ID       44418 non-null  float64
 8   Traffic_Cntl_ID    44418 non-null  int64
 9   Harm_Evnt_ID       44418 non-null  int64
 10  FHE_Collsn_ID      44418 non-null  int64
 11  Road_Relat_ID      44418 non-null  float64
 12  Crash_Sev_ID       44418 non-null  int64
 13  Shldr_Width_Left   44418 non-null  float64
 14  Shldr_Width_Right  44418 non-null  float64
 15  Median_Width       44418 non-null  float64
 16  Nbr_Of_Lane        44418 non-null  float64
 17  Func_Sys_ID        44418 non-null  float64
 18  Average_AADT       44418 non-null  float64
 19  RLD                44418 non-null  int64
 20  PED                44418 non-null  int64
 21  INT                44418 non-null  int64
 22  Rural_Fl_N         44418 non-null  uint8
 23  Rural_Fl_Y         44418 non-null  uint8
 24  Cmv_Involv_Fl_N    44418 non-null  uint8
 25  Cmv_Involv_Fl_Y    44418 non-null  uint8
dtypes: float64(12), int64(10), uint8(4)
memory usage: 8.0 MB

In [283]:
crash_df4.head()

,Crash_Date,Crash_Time,Day_of_Week,Trk_Aadt_Pct,Crash_Speed_Limit,Wthr_Cond_ID,Light_Cond_ID,Surf_Cond_ID,Traffic_Cntl_ID,Harm_Evnt_ID,...,Nbr_Of_Lane,Func_Sys_ID,Average_AADT,RLD,PED,INT,Rural_Fl_N,Rural_Fl_Y,Cmv_Involv_Fl_N,Cmv_Involv_Fl_Y
0,735964,0,6,18.0,80.0,11.0,4.0,1.0,20,10,...,4.0,12.0,42837.0,1,0,0,0,1,1,0
1,735964,7,6,18.0,80.0,11.0,1.0,1.0,11,7,...,4.0,12.0,42837.0,1,0,0,0,1,1,0
2,735966,18,1,18.0,80.0,11.0,4.0,1.0,1,6,...,4.0,12.0,42837.0,0,0,0,0,1,1,0
3,735970,9,5,21.0,80.0,5.0,1.0,1.0,20,2,...,4.0,12.0,29864.0,0,0,0,1,0,1,0
4,735975,16,3,18.0,65.0,11.0,1.0,1.0,5,2,...,4.0,12.0,39841.0,0,0,1,0,1,1,0

In [284]:
options = [1,2,3,4,5] 
  
# selecting rows based on condition 
crash_df4 = crash_df4[crash_df4['Crash_Sev_ID'].isin(options)] 
crash_df4['Crash_Sev_ID'].value_counts(sort=False)

1     1377
2     7487
3     8943
4      382
5    25337
Name: Crash_Sev_ID, dtype: int64

In [285]:
# Classified variables in two groups, severe and non-severe. Based on subject matter knowledge. 
#1 being incapacitating injuries and 0 being non-incapacitating
# Severity levels of 1,2, and 4 were categorized as being incapacitating (1) and 
#severity levels of 3 & were categorized as non-incapacitating (2).
def sev_groups(series):
    if series == 1 :
        return 1
    elif series == 4 :
        return 1
    elif series == 2 :
        return 1
    elif series == 3 :
        return 0
    elif series == 5 :
        return 0    

crash_df4['Crash_Sev_ID_Bin'] = crash_df4['Crash_Sev_ID'].apply(sev_groups)
crash_df4['Crash_Sev_ID_Bin'].value_counts(sort=False)

0    34280
1     9246
Name: Crash_Sev_ID_Bin, dtype: int64

In [286]:
# With a logistic regression model, there is no preprocessing or scaling required for the data. 
y = crash_df4.Crash_Sev_ID_Bin
# X = crash_df.keep(['Crash_ID','Crash_Fatal_Fl','Cmv_Involv_Fl','Schl_Bus_Fl','Rr_Relat_Fl','Medical_Advisory_Fl'], axis=1)
X = crash_df4.drop(columns=["Crash_Sev_ID_Bin", "Crash_Sev_ID"])
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43526 entries, 0 to 56178
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Crash_Date         43526 non-null  int64
 1   Crash_Time         43526 non-null  int64
 2   Day_of_Week        43526 non-null  int64
 3   Trk_Aadt_Pct       43526 non-null  float64
 4   Crash_Speed_Limit  43526 non-null  float64
 5   Wthr_Cond_ID       43526 non-null  float64
 6   Light_Cond_ID      43526 non-null  float64
 7   Surf_Cond_ID       43526 non-null  float64
 8   Traffic_Cntl_ID    43526 non-null  int64
 9   Harm_Evnt_ID       43526 non-null  int64
 10  FHE_Collsn_ID      43526 non-null  int64
 11  Road_Relat_ID      43526 non-null  float64
 12  Shldr_Width_Left   43526 non-null  float64
 13  Shldr_Width_Right  43526 non-null  float64
 14  Median_Width       43526 non-null  float64
 15  Nbr_Of_Lane        43526 non-null  float64
 16  Func_Sys_ID        43526 non-null  float64
 17  Average_AADT       43526 non-null  float64
 18  RLD                43526 non-null  int64
 19  PED                43526 non-null  int64
 20  INT                43526 non-null  int64
 21  Rural_Fl_N         43526 non-null  uint8
 22  Rural_Fl_Y         43526 non-null  uint8
 23  Cmv_Involv_Fl_N    43526 non-null  uint8
 24  Cmv_Involv_Fl_Y    43526 non-null  uint8
dtypes: float64(12), int64(9), uint8(4)
memory usage: 7.5 MB

In [287]:
#corr_matrix=X.corr(method='spearman')
corr_mat= crash_df4.corr(method= 'spearman')

In [288]:
# Export the correlation data set.
tmp=corr_mat.to_csv("C:\Downloads\corr_matrix2.csv", header=True)

In [289]:
###Random Trees Training

In [290]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 42, stratify=y)
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train= X_scaler.transform(X_train)
X_test= X_scaler.transform(X_test)

In [291]:
np.unique(y_test, return_counts = True)

(array([0, 1]), array([8570, 2312]))

In [292]:
### Random Forest Classifier

In [293]:
# Resample the training data with the RandomForestClassifier
# from sklearn.ensemble import RandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, balanced_accuracy_score, classification_report

In [294]:
# Create a random forest classifier.
rf_model = BalancedRandomForestClassifier(n_estimators= 128, random_state= 42, n_jobs= -1, max_depth= 8,  )

In [295]:
# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

In [296]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test)

In [297]:
# Calculating the accuracy score

y_pred = rf_model.predict(X_test)
accuracy_score(y_test, y_pred)

0.6543833854070943

In [298]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, y_pred)
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         5992         2578
Actual 1         1183         1129

In [299]:
# Print the imbalanced classification report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.84      0.70      0.76      8570
           1       0.30      0.49      0.38      2312

    accuracy                           0.65     10882
   macro avg       0.57      0.59      0.57     10882
weighted avg       0.72      0.65      0.68     10882

In [300]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
importances

array([0.07753769, 0.06276848, 0.03308665, 0.03978282, 0.03967633,
       0.02873546, 0.02620291, 0.03113653, 0.04520646, 0.12810937,
       0.12583548, 0.01903912, 0.03299381, 0.0303688 , 0.03348934,
       0.01768892, 0.02628416, 0.06439665, 0.03834699, 0.0528441 ,
       0.01282091, 0.01075333, 0.01057783, 0.00607844, 0.00623943])

In [301]:
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.12810936562718864, 'Harm_Evnt_ID'),
 (0.12583548386470186, 'FHE_Collsn_ID'),
 (0.07753769400837765, 'Crash_Date'),
 (0.06439664591607523, 'Average_AADT'),
 (0.06276847750165188, 'Crash_Time'),
 (0.05284410380331769, 'PED'),
 (0.045206459623560305, 'Traffic_Cntl_ID'),
 (0.03978281503695535, 'Trk_Aadt_Pct'),
 (0.0396763291276484, 'Crash_Speed_Limit'),
 (0.038346985537779536, 'RLD'),
 (0.033489338362870505, 'Median_Width'),
 (0.03308664879565467, 'Day_of_Week'),
 (0.03299380669976903, 'Shldr_Width_Left'),
 (0.031136528968375557, 'Surf_Cond_ID'),
 (0.030368803647310347, 'Shldr_Width_Right'),
 (0.02873546370256257, 'Wthr_Cond_ID'),
 (0.02628416408394249, 'Func_Sys_ID'),
 (0.026202913433782987, 'Light_Cond_ID'),
 (0.01903911903071014, 'Road_Relat_ID'),
 (0.0176889230148147, 'Nbr_Of_Lane'),
 (0.012820908314538864, 'INT'),
 (0.010753325822663215, 'Rural_Fl_N'),
 (0.010577828405631335, 'Rural_Fl_Y'),
 (0.0062394298571420695, 'Cmv_Involv_Fl_Y'),
 (0.006078437812974958, 'Cmv_Involv_Fl_N')]

In [ ]:
### Easy Ensemble AdaBoost Classifier

In [302]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier 
clf=  EasyEnsembleClassifier(n_estimators= 128, random_state=1, n_jobs= -1 )
clf.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=128, n_jobs=-1, random_state=1)

In [303]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
predictions = clf.predict(X_test)

balanced_accuracy_score(y_test, predictions)

0.6006399062473504

In [304]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         5992         2578
Actual 1         1183         1129

In [305]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.84      0.66      0.54      0.74      0.60      0.36      8570
          1       0.30      0.54      0.66      0.39      0.60      0.35      2312

avg / total       0.73      0.63      0.57      0.66      0.60      0.36     10882

In [ ]:
### Combination (Over and Under) Sampling

In [306]:
from imblearn.combine import SMOTEENN
from collections import Counter
smote_enn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({0: 12257, 1: 19449})

In [307]:
# Train the Logistic Regression model using the resampled data
from imblearn.ensemble import EasyEnsembleClassifier 
clf= EasyEnsembleClassifier(n_estimators=128, random_state=42, n_jobs= -1   )
clf.fit(X_resampled, y_resampled)

EasyEnsembleClassifier(n_estimators=128, n_jobs=-1, random_state=42)

In [308]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = clf.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.49250947822330254

In [309]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = clf.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[ 524, 8046],
       [ 176, 2136]])

In [310]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.75      0.06      0.92      0.11      0.24      0.05      8570
          1       0.21      0.92      0.06      0.34      0.24      0.06      2312

avg / total       0.63      0.24      0.74      0.16      0.24      0.05     10882

In [ ]:
### Naive Random Oversampling

In [311]:
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from collections import Counter
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [312]:

# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({0: 25710, 1: 25710})

In [313]:
# Create a random forest classifier.
rf_model = BalancedRandomForestClassifier(n_estimators= 64, random_state= 1, n_jobs= -1, max_depth= 6 )
rf_model.fit(X_resampled, y_resampled)

BalancedRandomForestClassifier(max_depth=6, n_estimators=64, n_jobs=-1,
                               random_state=1)

In [314]:
from sklearn.metrics import balanced_accuracy_score
y_pred = rf_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5824972342564592

In [315]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[6192, 2378],
       [1289, 1023]])

In [316]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.83      0.72      0.44      0.77      0.57      0.33      8570
          1       0.30      0.44      0.72      0.36      0.57      0.31      2312

avg / total       0.72      0.66      0.50      0.68      0.57      0.32     10882