In [1]:
# Import pandas dependency
import pandas as pd
import timeit
import numpy as np
import datetime
from sqlalchemy import create_engine

In [2]:
#Read HGAC all county crash data into dataframe
all_years_data_df = pd.read_csv("Resources/Crash_Data/Processed/AllTravisCrashData.csv")

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (19,20,22,34,35,37,46,84,154,155) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Clip data on on-system highways only
all_years_data_df = all_years_data_df[all_years_data_df["Onsys_Fl"]=="Y"]

In [4]:
#Exporting unique street names
df=pd.DataFrame(all_years_data_df.Street_Name.unique())
df.to_csv("Resources/Street_Names/unique_Street_Name.csv")

In [5]:
#Create column "Year"
all_years_data_df["Year"] =pd.to_datetime(all_years_data_df["Crash_Date"]).dt.strftime('%Y')

In [6]:
#Store Prefix for all highways
AllHighwaysPrefix = ["SH","IH","SS","UA","FM","US","BS","SL","BU","FS","BF"]

In [7]:
#Drop NOT needed columns in Crashes Data
#all_years_data_df.columns.to_list()

In [8]:
#Create subset of data that will be needed for analysis
all_years_data_df = all_years_data_df[["Crash_ID", "Cmv_Involv_Fl", "Crash_Date", "Crash_Time", 
                             "Crash_Speed_Limit", "Wthr_Cond_ID", "Light_Cond_ID", 
                             "Surf_Cond_ID", "Traffic_Cntl_ID", "Harm_Evnt_ID", "Intrsct_Relat_ID",
                             "FHE_Collsn_ID", "Road_Relat_ID", "Cnty_ID", "City_ID", "Latitude",
                             "Longitude", "Hwy_Sys", "Hwy_Nbr", "Dfo", "Street_Name", "Onsys_Fl",
                             "Rural_Fl", "Crash_Sev_ID", "Day_of_Week", "Shldr_Width_Left",
                             "Shldr_Width_Right", "Median_Width", "Nbr_Of_Lane", "Func_Sys_ID",
                             "Adt_Curnt_Amt", "Adt_Curnt_Year", "Trk_Aadt_Pct", "Curve_Type_ID",
                             "Curve_Lngth", "Cd_Degr", "Sus_Serious_Injry_Cnt", "Nonincap_Injry_Cnt",
                             "Poss_Injry_Cnt", "Non_Injry_Cnt", "Unkn_Injry_Cnt", "Tot_Injry_Cnt", "Death_Cnt", "Year"]]
all_years_data_df.head()

,Crash_ID,Cmv_Involv_Fl,Crash_Date,Crash_Time,Crash_Speed_Limit,Wthr_Cond_ID,Light_Cond_ID,Surf_Cond_ID,Traffic_Cntl_ID,Harm_Evnt_ID,...,Curve_Lngth,Cd_Degr,Sus_Serious_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,Year
3,14839123,N,01/01/2016,12:23 AM,80,11,4,1,20,10,...,1686.0,0.0,0,1,0,0,0,1,0,2016
5,14839307,N,01/01/2016,07:59 PM,60,12,3,1,5,2,...,303.0,4.0,0,0,0,2,0,0,0,2016
7,14839787,N,01/01/2016,07:40 PM,-1,12,4,1,5,8,...,NaN,NaN,0,0,0,2,0,0,0,2016
8,14839805,N,01/02/2016,03:44 PM,45,2,1,2,5,2,...,179.0,0.0,0,0,0,2,0,0,0,2016
9,14839874,N,01/01/2016,05:11 PM,45,12,6,1,11,2,...,NaN,NaN,0,0,1,4,0,1,0,2016

In [9]:
#Create crash output for onsystem crashes
all_years_data_df.to_csv("Resources/Crash_Data/Processed/OnSystemTravisCrashes.csv",index=False)

In [10]:
#Create and export only severe (K+A+B) crashes
severe_data_df = all_years_data_df[(all_years_data_df["Crash_Sev_ID"]==1) |
                                  (all_years_data_df["Crash_Sev_ID"]==2) |
                                  (all_years_data_df["Crash_Sev_ID"]==4)]
severe_data_df.to_csv("Resources/Crash_Data/Processed/SevereOnSystemTravisCrashes.csv",index=False)

In [11]:
#View data type
#all_years_data_df.dtypes

In [12]:
#Read RINO File
All_RINO_df=pd.read_csv("Resources/Roadway_Data/TravisOnSystemRINO.csv")

In [13]:
#All_RINO_df.columns.to_list()

In [14]:
#Create Subset of Roadway data
All_RINO_df = All_RINO_df[["REC", "RIA_RTE_ID", "FRM_DFO", "TO_DFO", "HWY", "HSYS",
                           "HNUM", "DI", "CO", "CITY", "RU", "F_SYSTEM", "SPD_MAX",
                           "HP_MED_W", "NUM_LANES", "SUR_W", "ADT_YEAR", "ADT_CUR", 
                           "ADT_ADJ", "TRK_AADT_PCT", "AADT_TRUCKS", "LANE_WIDTH", "LEN_SEC",
                           "LN_MILES", "DVMT", "DTRKVMT","HY_1","HY_2","HY_3","HY_4"]]
All_RINO_df

,REC,RIA_RTE_ID,FRM_DFO,TO_DFO,HWY,HSYS,HNUM,DI,CO,CITY,...,AADT_TRUCKS,LANE_WIDTH,LEN_SEC,LN_MILES,DVMT,DTRKVMT,HY_1,HY_2,HY_3,HY_4
0,1,FM0685-KG,7.856,7.894,FM0685,FM,685,14,227,32580,...,1288,12,0.038,0.152,1129.892,48.944,29334,26538,28012,24253
1,1,FM0685-KG,5.858,6.348,FM0685,FM,685,14,227,32580,...,1288,13,0.490,1.960,14569.660,631.120,29334,26538,28012,24253
2,1,FM0685-KG,7.894,7.958,FM0685,FM,685,14,227,32580,...,1288,12,0.064,0.256,1902.976,82.432,29334,26538,28012,24253
3,1,FM0685-KG,5.599,5.858,FM0685,FM,685,14,227,32580,...,1288,12,0.259,1.036,7701.106,333.592,29334,26538,28012,24253
4,1,FM0685-KG,6.367,7.856,FM0685,FM,685,14,227,32580,...,1288,13,1.489,5.956,44273.926,1917.832,29334,26538,28012,24253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,1,US0290-KG,135.429,135.456,US0290,US,290,14,227,26450,...,3083,12,0.027,0.108,1206.927,83.241,44701,36907,38829,33894
1825,1,US0290-KG,103.649,103.994,US0290,US,290,14,227,0,...,1106,12,0.345,1.380,12999.600,381.570,37680,36025,38369,31294
1826,1,US0290-KG,132.639,132.901,US0290,US,290,14,227,2100,...,1981,12,0.262,1.048,4971.450,519.022,18975,16148,15597,11263
1827,1,US0290-KG,111.507,112.341,US0290,US,290,14,227,2100,...,1809,12,0.834,4.170,57022.248,1508.706,68372,65855,65855,64393
1828,1,US0290-KG,142.980,143.139,US0290,US,290,14,227,13300,...,2626,12,0.159,0.636,4944.264,417.534,31096,26617,28544,26303

In [15]:
#All_RINO_df.dtypes

In [16]:
#Write adjusted RINO Data
All_RINO_df.to_csv("Resources/Roadway_Data/TravisOnSystemRINOAdjusted.csv",index=False)

In [17]:
#Sort data by HWY name and DFO
All_RINO_df = All_RINO_df.sort_values(by=['HWY',"FRM_DFO"], ascending=(True,True))
#Add Corridor ID column for each unique street name
All_RINO_df["Corridor_ID"]=1
#Add Roadway ID column for each roadway segment
All_RINO_df["Road_ID"]=1

In [18]:
#Showing unique street names
unique_streets=All_RINO_df.HWY.unique()
unique_streets

array(['FM0685', 'FM0734', 'FM0812', 'FM0969', 'FM0973', 'FM1100',
       'FM1325', 'FM1327', 'FM1625', 'FM1626', 'FM1825', 'FM2304',
       'FM3177', 'FS1825', 'IH0035', 'RM0012', 'RM0620', 'RM1431',
       'RM1826', 'RM2222', 'RM2244', 'RM2322', 'RM2769', 'RM3238',
       'SH0045', 'SH0071', 'SH0095', 'SH0130', 'SH0165', 'SL0001',
       'SL0111', 'SL0212', 'SL0275', 'SL0343', 'SL0360', 'SS0069',
       'US0183', 'US0290'], dtype=object)

In [19]:
#Adjust Corridor ID numbering to be unique for each corridor name
for i in range(1, len(All_RINO_df) ):
    
    j = All_RINO_df.columns.get_loc('Corridor_ID')
    k = All_RINO_df.columns.get_loc('HWY')
    l = All_RINO_df.columns.get_loc('Road_ID')
    
    All_RINO_df.iat[i , l] = All_RINO_df.iat[i - 1, l] + 1
    
    if All_RINO_df.iat[i , k]==All_RINO_df.iat[i - 1, k]:
        All_RINO_df.iat[i , j] = All_RINO_df.iat[i - 1, j]
        
    else:
        All_RINO_df.iat[i , j] = All_RINO_df.iat[i - 1, j] + 1

In [20]:
#Get Boundary DFO
Min_DFO_Limit=All_RINO_df.groupby("Corridor_ID")["FRM_DFO"].min()
Max_DFO_Limit=All_RINO_df.groupby("Corridor_ID")["TO_DFO"].max()
#Get Corridor Name
Corridor_Names=All_RINO_df.groupby("Corridor_ID")["HWY"].max()
#Calculate Corridor Length
Corridor_Lengths=All_RINO_df.groupby("Corridor_ID")["LEN_SEC"].sum()

In [21]:
#Create Dataframe with Corridor Names, Numbers, and Min and Max DFO
Corridor_Summary_df=pd.DataFrame({"Highway Name":Corridor_Names,"From DFO":Min_DFO_Limit,"To DFO":Max_DFO_Limit,"Length (mi)":Corridor_Lengths})
Corridor_Summary_df

            Highway Name  From DFO   To DFO  Length (mi)
Corridor_ID
1                 FM0685     5.599    7.958        2.359
2                 FM0734     6.547   19.385       12.838
3                 FM0812     0.000    6.979        6.979
4                 FM0969     0.000   16.712       16.712
5                 FM0973     6.809   36.403       27.603
6                 FM1100     0.000    6.520        6.520
7                 FM1325     1.448    8.171        3.484
8                 FM1327     0.000    7.331        7.331
9                 FM1625     0.000    5.130        5.130
10                FM1626     0.000    4.236        4.236
11                FM1825     0.000    3.913        3.913
12                FM2304     0.000    4.520        4.520
13                FM3177     0.000    4.681        4.681
14                FS1825     0.000    0.715        0.715
15                IH0035   221.242  249.576       28.334
16                RM0012     0.000    0.466        0.466
17                RM0620     0.000   16.792       16.792
18                RM1431    36.280   55.945       19.665
19                RM1826     0.000    4.453        4.453
20                RM2222     0.000   10.772       10.772
21                RM2244     0.000   11.249       11.249
22                RM2322     0.000    4.586        4.586
23                RM2769     0.000    7.198        7.198
24                RM3238     0.000    6.846        6.846
25                SH0045     0.000   53.554       13.440
26                SH0071    94.147  137.918       35.949
27                SH0095    46.110   47.178        1.068
28                SH0130    14.441   49.444       35.003
29                SH0165     0.000    0.511        0.511
30                SL0001     1.155   25.565       24.410
31                SL0111     0.000    2.596        2.596
32                SL0212     0.000    2.106        2.106
33                SL0275     0.000   21.432        9.402
34                SL0343     0.000    5.085        5.085
35                SL0360     0.000   13.956       13.956
36                SS0069     0.000    1.309        1.309
37                US0183   310.384  338.339       27.955
38                US0290   103.120  143.139       32.114

In [22]:
#Join Crashes and RINO data
join_df = pd.merge(all_years_data_df,All_RINO_df, how='outer',left_on='Street_Name',right_on='HWY')

#Condition join for only crashes with DFO within limits
join_df_inner= join_df[(join_df["Dfo"]>=join_df["FRM_DFO"]) &(join_df["Dfo"]<join_df["TO_DFO"])]

In [23]:
join_df_inner

,Crash_ID,Cmv_Involv_Fl,Crash_Date,Crash_Time,Crash_Speed_Limit,Wthr_Cond_ID,Light_Cond_ID,Surf_Cond_ID,Traffic_Cntl_ID,Harm_Evnt_ID,...,LEN_SEC,LN_MILES,DVMT,DTRKVMT,HY_1,HY_2,HY_3,HY_4,Corridor_ID,Road_ID
21,14839123,N,01/01/2016,12:23 AM,80,11,4,1,20,10,...,2.350,9.400,107916.700,22407.250,43413.0,43788.0,42315.0,38748.0,28.0,1188.0
83,14840287,N,01/01/2016,07:40 AM,80,11,1,1,11,7,...,2.642,10.568,121325.924,25191.470,43413.0,43788.0,42315.0,38748.0,28.0,1192.0
143,14840860,N,01/03/2016,06:48 PM,80,11,4,1,1,6,...,1.213,4.852,55703.386,11565.955,43413.0,43788.0,42315.0,38748.0,28.0,1194.0
214,14850383,N,01/07/2016,09:05 AM,80,5,1,1,20,2,...,0.099,0.396,3340.359,796.257,31038.0,30351.0,28878.0,25311.0,28.0,1207.0
245,14863190,N,01/12/2016,04:01 PM,65,11,1,1,5,2,...,0.036,0.144,1508.940,133.344,39424.0,41579.0,39927.0,36360.0,28.0,1180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5887310,17293867,N,09/06/2019,11:43 AM,45,11,1,1,8,2,...,0.527,1.054,5505.042,349.928,10460.0,10329.0,9326.0,7479.0,14.0,489.0
5887315,17302636,N,09/22/2019,12:40 PM,45,11,1,1,11,2,...,0.527,1.054,5505.042,349.928,10460.0,10329.0,9326.0,7479.0,14.0,489.0
5887323,17318171,N,09/30/2019,10:45 AM,45,2,1,2,17,2,...,0.119,0.238,1243.074,79.016,10460.0,10329.0,9326.0,7479.0,14.0,492.0
5887329,17361764,N,10/24/2019,02:07 PM,45,12,1,1,20,2,...,0.037,0.074,386.502,24.568,10460.0,10329.0,9326.0,7479.0,14.0,493.0
5887331,17648044,N,04/04/2020,03:21 PM,-1,2,1,2,5,2,...,0.031,0.062,323.826,20.584,10460.0,10329.0,9326.0,7479.0,14.0,490.0

In [24]:
#Create variable to calculate Average AADT
Average_AADT = (join_df_inner["ADT_ADJ"]+join_df_inner["HY_1"]+join_df_inner["HY_2"]
                +join_df_inner["HY_3"]+join_df_inner["HY_4"])/5

#Add column that computes average AADT
join_df_inner["Average_AADT"] =Average_AADT.to_list()

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
#Add RLD, PED, & INT columns
join_df_inner["RLD"]=0
join_df_inner["PED"]=0
join_df_inner["INT"]=0
#Adjust new column data
for i in range(0, len(join_df_inner)):
    
    j = join_df_inner.columns.get_loc('RLD')
    k = join_df_inner.columns.get_loc('PED')
    l = join_df_inner.columns.get_loc('INT')
    m = join_df_inner.columns.get_loc('Intrsct_Relat_ID')
    n = join_df_inner.columns.get_loc('FHE_Collsn_ID')
    o = join_df_inner.columns.get_loc('Harm_Evnt_ID')
    
    if join_df_inner.iat[i, m]<4:
        join_df_inner.iat[i, l] = 1
        
    if join_df_inner.iat[i, o]==1:
        join_df_inner.iat[i, k] = 1
        
    if join_df_inner.iat[i, n]==30:
        join_df_inner.iat[i, j] = 1
        
    if (join_df_inner.iat[i, n]<5) & (join_df_inner.iat[i, o]>6):
        join_df_inner.iat[i, j] = 1

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [26]:
#Append All Crashes that meet the Highway Name and DFO Criteria
#tempdf= pd.DataFrame()
#Top10CongestedCrashes_df= pd.DataFrame()
#for i in Top10_Summary_df.index:
    #tempdf=all_years_data_df[(all_years_data_df["Street_Name"]==Top10_Summary_df["Highway Name"][i])&(all_years_data_df["Dfo"]>Top10_Summary_df["From DFO"][i])
                         #&(all_years_data_df["Dfo"]<Top10_Summary_df["To DFO"][i])]
    #Top10CongestedCrashes_df=Top10CongestedCrashes_df.append(tempdf)

In [27]:
#Create a seperate Df for each of the top 10 congested corridors
#corridor1_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[0]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[0]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[0]["To DFO"])]
#corridor1_Crashes_df.loc[:,'Top10']=1
#corridor2_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[1]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[1]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[1]["To DFO"])]
#corridor2_Crashes_df.loc[:,'Top10']=2

#corridor3_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[2]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[2]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[2]["To DFO"])]
#corridor3_Crashes_df.loc[:,'Top10']=3

#corridor4_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[3]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[3]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[3]["To DFO"])]
#corridor4_Crashes_df.loc[:,'Top10']=4

#corridor5_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[4]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[4]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[4]["To DFO"])]
#corridor5_Crashes_df.loc[:,'Top10']=5

#corridor6_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[5]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[5]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[5]["To DFO"])]
#corridor6_Crashes_df.loc[:,'Top10']=6

#corridor7_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[6]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[6]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[6]["To DFO"])]
#corridor7_Crashes_df.loc[:,'Top10']=7

#corridor8_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[7]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[7]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[7]["To DFO"])]
#corridor8_Crashes_df.loc[:,'Top10']=8

#corridor9_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[8]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[8]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[8]["To DFO"])]
#corridor9_Crashes_df.loc[:,'Top10']=9

#corridor10_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[9]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[9]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[9]["To DFO"])]
#corridor10_Crashes_df.loc[:,'Top10']=10

In [28]:
#Create one dataframe holding all crash data
#Top10CongestedCrashes_df=pd.concat([corridor1_Crashes_df,corridor2_Crashes_df,corridor3_Crashes_df,corridor4_Crashes_df,
                                   #corridor5_Crashes_df,corridor6_Crashes_df,corridor7_Crashes_df,corridor8_Crashes_df,
                                   #corridor9_Crashes_df,corridor10_Crashes_df])
#Save File
#Top10CongestedCrashes_df.to_csv("Resources/Crash_Data/Processed/FortBendCrashesAdjusted.csv")

In [29]:
#Create number of crashes list by corridor
Corridor_num_crashes=join_df_inner.groupby(["Corridor_ID"])["Crash_ID"].count()

In [30]:
#Summarize number of crashes by corridor
Corridor_Summary_df["Number of Crashes (5 Years)"]=Corridor_num_crashes

In [31]:
#Summarize number of crashes by mile by corridor
Corridor_Summary_df["Crashes Per Mile Per Year"]=Corridor_Summary_df["Number of Crashes (5 Years)"]/(Corridor_Summary_df["Length (mi)"]*5)

In [32]:
#Show summary
Corridor_Summary_df

,Highway Name,From DFO,To DFO,Length (mi),Number of Crashes (5 Years),Crashes Per Mile Per Year
Corridor_ID,,,,,,
1,FM0685,5.599,7.958,2.359,548,46.460365
2,FM0734,6.547,19.385,12.838,1579,24.598847
3,FM0812,0.000,6.979,6.979,724,20.747958
4,FM0969,0.000,16.712,16.712,1148,13.738631
5,FM0973,6.809,36.403,27.603,850,6.158751
6,FM1100,0.000,6.520,6.520,30,0.920245
7,FM1325,1.448,8.171,3.484,495,28.415614
8,FM1327,0.000,7.331,7.331,168,4.583276
9,FM1625,0.000,5.130,5.130,92,3.586745
10,FM1626,0.000,4.236,4.236,328,15.486308
11,FM1825,0.000,3.913,3.913,789,40.327115
12,FM2304,0.000,4.520,4.520,440,19.469027
13,FM3177,0.000,4.681,4.681,188,8.032472
14,FS1825,0.000,0.715,0.715,15,4.195804
15,IH0035,221.242,249.576,28.334,15993,112.889108
16,RM0012,0.000,0.466,0.466,14,6.008584
17,RM0620,0.000,16.792,16.792,2577,30.693187
18,RM1431,36.280,55.945,19.665,424,4.312230
19,RM1826,0.000,4.453,4.453,141,6.332809
20,RM2222,0.000,10.772,10.772,899,16.691422
21,RM2244,0.000,11.249,11.249,1095,19.468397
22,RM2322,0.000,4.586,4.586,22,0.959442
23,RM2769,0.000,7.198,7.198,176,4.890247
24,RM3238,0.000,6.846,6.846,92,2.687701
25,SH0045,0.000,53.554,13.440,255,3.794643
26,SH0071,94.147,137.918,35.949,3974,22.109099
27,SH0095,46.110,47.178,1.068,18,3.370787
28,SH0130,14.441,49.444,35.003,1587,9.067794
29,SH0165,0.000,0.511,0.511,9,3.522505
30,SL0001,1.155,25.565,24.410,5038,41.278165
31,SL0111,0.000,2.596,2.596,448,34.514638
32,SL0212,0.000,2.106,2.106,119,11.301045
33,SL0275,0.000,21.432,9.402,1275,27.121889
34,SL0343,0.000,5.085,5.085,1614,63.480826
35,SL0360,0.000,13.956,13.956,1568,22.470622
36,SS0069,0.000,1.309,1.309,204,31.168831
37,US0183,310.384,338.339,27.955,6566,46.975496
38,US0290,103.120,143.139,32.114,4678,29.133711

In [33]:
#Summarize average,min, max number of lanes and average number of lanes for each corridor
Avrg_Lanes=join_df_inner.groupby("Corridor_ID")["NUM_LANES"].mean()
Min_Lanes=join_df_inner.groupby("Corridor_ID")["NUM_LANES"].min()
Max_Lanes=join_df_inner.groupby("Corridor_ID")["NUM_LANES"].max()

In [34]:
#Summarize average,min, max number of lanes and average number AADT for each corridor
Avrg_AADT=join_df_inner.groupby("Corridor_ID")["Average_AADT"].mean()
Min_AADT=join_df_inner.groupby("Corridor_ID")["Average_AADT"].min()
Max_AADT=join_df_inner.groupby("Corridor_ID")["Average_AADT"].max()

In [35]:
#Summarize average number of lanes Crashes Per Mile Per Lane
Corridor_Summary_df["Average Lanes"]=Avrg_Lanes
Corridor_Summary_df["Crashes Per Mile Per Lane Per Year"]=Corridor_Summary_df["Crashes Per Mile Per Year"]/(Corridor_Summary_df["Average Lanes"]*5)

In [36]:
#Summarize average AADT,VMT, and Crashes Per 100MVMT
Corridor_Summary_df["Average AADT"]=Avrg_AADT
Corridor_Summary_df["Average VMT (100M)"]=Corridor_Summary_df["Average AADT"]*365*Corridor_Summary_df["Length (mi)"]/100000000

In [37]:
Corridor_Summary_df

,Highway Name,From DFO,To DFO,Length (mi),Number of Crashes (5 Years),Crashes Per Mile Per Year,Average Lanes,Crashes Per Mile Per Lane Per Year,Average AADT,Average VMT (100M)
Corridor_ID,,,,,,,,,,
1,FM0685,5.599,7.958,2.359,548,46.460365,4.000000,2.323018,27574.200000,0.237424
2,FM0734,6.547,19.385,12.838,1579,24.598847,5.455351,0.901824,46547.160228,2.181139
3,FM0812,0.000,6.979,6.979,724,20.747958,2.696133,1.539090,15013.012707,0.382432
4,FM0969,0.000,16.712,16.712,1148,13.738631,3.317944,0.828141,20454.070557,1.247674
5,FM0973,6.809,36.403,27.603,850,6.158751,2.204706,0.558691,12537.315059,1.263146
6,FM1100,0.000,6.520,6.520,30,0.920245,2.000000,0.092025,1571.360000,0.037395
7,FM1325,1.448,8.171,3.484,495,28.415614,4.072727,1.395410,39193.740606,0.498411
8,FM1327,0.000,7.331,7.331,168,4.583276,2.023810,0.452936,13426.842857,0.359277
9,FM1625,0.000,5.130,5.130,92,3.586745,2.000000,0.358674,5704.582609,0.106815
10,FM1626,0.000,4.236,4.236,328,15.486308,2.140244,1.447154,16667.164634,0.257698
11,FM1825,0.000,3.913,3.913,789,40.327115,3.401774,2.370946,26272.395437,0.375234
12,FM2304,0.000,4.520,4.520,440,19.469027,2.777273,1.402025,30574.231818,0.504414
13,FM3177,0.000,4.681,4.681,188,8.032472,4.000000,0.401624,11510.778723,0.196669
14,FS1825,0.000,0.715,0.715,15,4.195804,2.000000,0.419580,9608.000000,0.025074
15,IH0035,221.242,249.576,28.334,15993,112.889108,6.615144,3.413051,160517.860201,16.600613
16,RM0012,0.000,0.466,0.466,14,6.008584,2.000000,0.600858,7996.800000,0.013602
17,RM0620,0.000,16.792,16.792,2577,30.693187,4.143578,1.481482,39034.002716,2.392425
18,RM1431,36.280,55.945,19.665,424,4.312230,3.674528,0.234709,16724.382075,1.200430
19,RM1826,0.000,4.453,4.453,141,6.332809,2.000000,0.633281,14418.716312,0.234354
20,RM2222,0.000,10.772,10.772,899,16.691422,4.000000,0.834571,35442.224027,1.393510
21,RM2244,0.000,11.249,11.249,1095,19.468397,4.318721,0.901582,32564.055342,1.337043
22,RM2322,0.000,4.586,4.586,22,0.959442,2.000000,0.095944,3920.163636,0.065619
23,RM2769,0.000,7.198,7.198,176,4.890247,2.068182,0.472903,4941.970455,0.129839
24,RM3238,0.000,6.846,6.846,92,2.687701,2.000000,0.268770,14112.730435,0.352647
25,SH0045,0.000,53.554,13.440,255,3.794643,4.596078,0.165125,21217.305098,1.040836
26,SH0071,94.147,137.918,35.949,3974,22.109099,5.385506,0.821059,60881.514142,7.988498
27,SH0095,46.110,47.178,1.068,18,3.370787,2.222222,0.303371,5976.977778,0.023299
28,SH0130,14.441,49.444,35.003,1587,9.067794,4.171393,0.434761,39205.475110,5.008929
29,SH0165,0.000,0.511,0.511,9,3.522505,2.000000,0.352250,2382.400000,0.004444
30,SL0001,1.155,25.565,24.410,5038,41.278165,6.041683,1.366446,111145.983486,9.902718
31,SL0111,0.000,2.596,2.596,448,34.514638,4.000000,1.725732,27596.000000,0.261483
32,SL0212,0.000,2.106,2.106,119,11.301045,2.000000,1.130104,7069.949580,0.054346
33,SL0275,0.000,21.432,9.402,1275,27.121889,4.023529,1.348164,30695.549647,1.053388
34,SL0343,0.000,5.085,5.085,1614,63.480826,4.097274,3.098686,40619.277695,0.753904
35,SL0360,0.000,13.956,13.956,1568,22.470622,4.075255,1.102784,59439.980995,3.027837
36,SS0069,0.000,1.309,1.309,204,31.168831,3.593137,1.734909,17269.200000,0.082510
37,US0183,310.384,338.339,27.955,6566,46.975496,5.083460,1.848170,95576.334359,9.752203
38,US0290,103.120,143.139,32.114,4678,29.133711,5.031424,1.158070,56722.017101,6.648734

In [38]:
#Calculate Crash Rate as Number of crashes by 100M VMT
Corridor_Summary_df["Crashes Per 100M VMT"]=Corridor_Summary_df["Number of Crashes (5 Years)"]/(Corridor_Summary_df["Average VMT (100M)"]*5)

In [39]:
Corridor_Summary_df

,Highway Name,From DFO,To DFO,Length (mi),Number of Crashes (5 Years),Crashes Per Mile Per Year,Average Lanes,Crashes Per Mile Per Lane Per Year,Average AADT,Average VMT (100M),Crashes Per 100M VMT
Corridor_ID,,,,,,,,,,,
1,FM0685,5.599,7.958,2.359,548,46.460365,4.000000,2.323018,27574.200000,0.237424,461.622350
2,FM0734,6.547,19.385,12.838,1579,24.598847,5.455351,0.901824,46547.160228,2.181139,144.786710
3,FM0812,0.000,6.979,6.979,724,20.747958,2.696133,1.539090,15013.012707,0.382432,378.629673
4,FM0969,0.000,16.712,16.712,1148,13.738631,3.317944,0.828141,20454.070557,1.247674,184.022464
5,FM0973,6.809,36.403,27.603,850,6.158751,2.204706,0.558691,12537.315059,1.263146,134.584558
6,FM1100,0.000,6.520,6.520,30,0.920245,2.000000,0.092025,1571.360000,0.037395,160.448291
7,FM1325,1.448,8.171,3.484,495,28.415614,4.072727,1.395410,39193.740606,0.498411,198.631202
8,FM1327,0.000,7.331,7.331,168,4.583276,2.023810,0.452936,13426.842857,0.359277,93.521031
9,FM1625,0.000,5.130,5.130,92,3.586745,2.000000,0.358674,5704.582609,0.106815,172.259713
10,FM1626,0.000,4.236,4.236,328,15.486308,2.140244,1.447154,16667.164634,0.257698,254.561838
11,FM1825,0.000,3.913,3.913,789,40.327115,3.401774,2.370946,26272.395437,0.375234,420.537389
12,FM2304,0.000,4.520,4.520,440,19.469027,2.777273,1.402025,30574.231818,0.504414,174.459980
13,FM3177,0.000,4.681,4.681,188,8.032472,4.000000,0.401624,11510.778723,0.196669,191.184040
14,FS1825,0.000,0.715,0.715,15,4.195804,2.000000,0.419580,9608.000000,0.025074,119.643567
15,IH0035,221.242,249.576,28.334,15993,112.889108,6.615144,3.413051,160517.860201,16.600613,192.679636
16,RM0012,0.000,0.466,0.466,14,6.008584,2.000000,0.600858,7996.800000,0.013602,205.855756
17,RM0620,0.000,16.792,16.792,2577,30.693187,4.143578,1.481482,39034.002716,2.392425,215.429928
18,RM1431,36.280,55.945,19.665,424,4.312230,3.674528,0.234709,16724.382075,1.200430,70.641344
19,RM1826,0.000,4.453,4.453,141,6.332809,2.000000,0.633281,14418.716312,0.234354,120.330841
20,RM2222,0.000,10.772,10.772,899,16.691422,4.000000,0.834571,35442.224027,1.393510,129.026677
21,RM2244,0.000,11.249,11.249,1095,19.468397,4.318721,0.901582,32564.055342,1.337043,163.794325
22,RM2322,0.000,4.586,4.586,22,0.959442,2.000000,0.095944,3920.163636,0.065619,67.053518
23,RM2769,0.000,7.198,7.198,176,4.890247,2.068182,0.472903,4941.970455,0.129839,271.105178
24,RM3238,0.000,6.846,6.846,92,2.687701,2.000000,0.268770,14112.730435,0.352647,52.176749
25,SH0045,0.000,53.554,13.440,255,3.794643,4.596078,0.165125,21217.305098,1.040836,48.999068
26,SH0071,94.147,137.918,35.949,3974,22.109099,5.385506,0.821059,60881.514142,7.988498,99.493048
27,SH0095,46.110,47.178,1.068,18,3.370787,2.222222,0.303371,5976.977778,0.023299,154.510053
28,SH0130,14.441,49.444,35.003,1587,9.067794,4.171393,0.434761,39205.475110,5.008929,63.366843
29,SH0165,0.000,0.511,0.511,9,3.522505,2.000000,0.352250,2382.400000,0.004444,405.083040
30,SL0001,1.155,25.565,24.410,5038,41.278165,6.041683,1.366446,111145.983486,9.902718,101.749842
31,SL0111,0.000,2.596,2.596,448,34.514638,4.000000,1.725732,27596.000000,0.261483,342.660718
32,SL0212,0.000,2.106,2.106,119,11.301045,2.000000,1.130104,7069.949580,0.054346,437.934751
33,SL0275,0.000,21.432,9.402,1275,27.121889,4.023529,1.348164,30695.549647,1.053388,242.075955
34,SL0343,0.000,5.085,5.085,1614,63.480826,4.097274,3.098686,40619.277695,0.753904,428.171255
35,SL0360,0.000,13.956,13.956,1568,22.470622,4.075255,1.102784,59439.980995,3.027837,103.572287
36,SS0069,0.000,1.309,1.309,204,31.168831,3.593137,1.734909,17269.200000,0.082510,494.487631
37,US0183,310.384,338.339,27.955,6566,46.975496,5.083460,1.848170,95576.334359,9.752203,134.656755
38,US0290,103.120,143.139,32.114,4678,29.133711,5.031424,1.158070,56722.017101,6.648734,140.718527

In [40]:
#Summarize crashe statistics by corridor
Corridor_Summary_df.to_csv("Resources/Crash_Data/Processed/CrashStatisticsSummary.csv")

In [41]:
#Summarize Total Number by Severity
df=join_df_inner.groupby(['Corridor_ID','Crash_Sev_ID']).count()["Crash_ID"].to_frame()
# Reset the index on the DataFrame. This is needed to use the 'pivot()' function.
df = df.reset_index()

In [42]:
#Pivot Table of Crash Severities and format and rename columns
df=df.pivot(index="Corridor_ID",columns="Crash_Sev_ID",values="Crash_ID")
df

Crash_Sev_ID      0      1       2       3      4       5
Corridor_ID
1.0             2.0    6.0    58.0   101.0    1.0   380.0
2.0            13.0   49.0   287.0   365.0   13.0   852.0
3.0            30.0   38.0   107.0   148.0   12.0   389.0
4.0            32.0   52.0   233.0   220.0   11.0   600.0
5.0            34.0   43.0   136.0   148.0   15.0   474.0
6.0             2.0    2.0     3.0     1.0    NaN    22.0
7.0             6.0   17.0    83.0   110.0    6.0   273.0
8.0             8.0   13.0    25.0    33.0    5.0    84.0
9.0             9.0    7.0    14.0    24.0    1.0    37.0
10.0           10.0   10.0    50.0    49.0    3.0   206.0
11.0            4.0   20.0    89.0   174.0    2.0   500.0
12.0            5.0   20.0   101.0    99.0    5.0   210.0
13.0            7.0   11.0    48.0    42.0    4.0    76.0
14.0            NaN    NaN     1.0     2.0    1.0    11.0
15.0          345.0  406.0  2960.0  3491.0  103.0  8688.0
16.0            1.0    1.0     2.0     4.0    NaN     6.0
17.0           27.0   91.0   321.0   392.0   16.0  1730.0
18.0            8.0   32.0    71.0    57.0    8.0   248.0
19.0            5.0    6.0    17.0    27.0    1.0    85.0
20.0           16.0   35.0   198.0   154.0    9.0   487.0
21.0            6.0   34.0   107.0   166.0    4.0   778.0
22.0            NaN    2.0     2.0     3.0    NaN    15.0
23.0           11.0    4.0    29.0    19.0    2.0   111.0
24.0            4.0    7.0     7.0    17.0    NaN    57.0
25.0           11.0   13.0    35.0    45.0    1.0   150.0
26.0           82.0  150.0   690.0   785.0   48.0  2219.0
27.0            NaN    3.0     3.0     4.0    NaN     8.0
28.0           41.0   36.0   191.0   292.0   21.0  1006.0
29.0            1.0    NaN     3.0     NaN    NaN     5.0
30.0          114.0  103.0   824.0  1028.0   21.0  2948.0
31.0            7.0   17.0   130.0    86.0    7.0   201.0
32.0            2.0    1.0     8.0    17.0    NaN    91.0
33.0           30.0   40.0   268.0   318.0   18.0   601.0
34.0           12.0   55.0   310.0   366.0    6.0   865.0
35.0           27.0   24.0   268.0   336.0   11.0   902.0
36.0            4.0    3.0    37.0    37.0    3.0   120.0
37.0          219.0  170.0  1205.0  1355.0   50.0  3567.0
38.0          104.0  151.0   821.0   890.0   41.0  2671.0

In [43]:
#Export Joined File
join_df_inner.to_csv("Resources/Crash_Data/Processed/Crash&RoadwayData.csv",index=False)