In [1]:
# Import pandas dependency
import pandas as pd
import timeit
import numpy as np
import datetime
from config import db_password
from sqlalchemy import create_engine

In [2]:
#Read HGAC all county crash data into dataframe
all_years_data_df = pd.read_csv("Resources/Crash_Data/Processed/AllTravisCrashData.csv")

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (19,20,22,34,35,37,46,84,154,155) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Clip data on on-system highways only
all_years_data_df = all_years_data_df[all_years_data_df["Onsys_Fl"]=="Y"]

In [4]:
#Exporting unique street names
df=pd.DataFrame(all_years_data_df.Street_Name.unique())
df.to_csv("Resources/Street_Names/unique_Street_Name.csv")

In [5]:
#Create column "Year"
all_years_data_df["Year"] =pd.to_datetime(all_years_data_df["Crash_Date"]).dt.strftime('%Y')

In [6]:
#Store Prefix for all highways
AllHighwaysPrefix = ["SH","IH","SS","UA","FM","US","BS","SL","BU","FS","BF"]

In [7]:
#Drop NOT needed columns in Crashes Data
#all_years_data_df.columns.to_list()

In [8]:
#Create subset of data that will be needed for analysis
all_years_data_df = all_years_data_df[["Crash_ID", "Cmv_Involv_Fl", "Crash_Date", "Crash_Time", 
                             "Crash_Speed_Limit", "Wthr_Cond_ID", "Light_Cond_ID", 
                             "Surf_Cond_ID", "Traffic_Cntl_ID", "Harm_Evnt_ID", "Intrsct_Relat_ID",
                             "FHE_Collsn_ID", "Road_Relat_ID", "Cnty_ID", "City_ID", "Latitude",
                             "Longitude", "Hwy_Sys", "Hwy_Nbr", "Dfo", "Street_Name", "Onsys_Fl",
                             "Rural_Fl", "Crash_Sev_ID", "Day_of_Week", "Shldr_Width_Left",
                             "Shldr_Width_Right", "Median_Width", "Nbr_Of_Lane", "Func_Sys_ID",
                             "Adt_Curnt_Amt", "Adt_Curnt_Year", "Trk_Aadt_Pct", "Curve_Type_ID",
                             "Curve_Lngth", "Cd_Degr", "Sus_Serious_Injry_Cnt", "Nonincap_Injry_Cnt",
                             "Poss_Injry_Cnt", "Non_Injry_Cnt", "Unkn_Injry_Cnt", "Tot_Injry_Cnt", "Death_Cnt", "Year"]]
all_years_data_df.head()

,Crash_ID,Cmv_Involv_Fl,Crash_Date,Crash_Time,Crash_Speed_Limit,Wthr_Cond_ID,Light_Cond_ID,Surf_Cond_ID,Traffic_Cntl_ID,Harm_Evnt_ID,...,Curve_Lngth,Cd_Degr,Sus_Serious_Injry_Cnt,Nonincap_Injry_Cnt,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,Year
3,14839123,N,01/01/2016,12:23 AM,80,11,4,1,20,10,...,1686.0,0.0,0,1,0,0,0,1,0,2016
5,14839307,N,01/01/2016,07:59 PM,60,12,3,1,5,2,...,303.0,4.0,0,0,0,2,0,0,0,2016
7,14839787,N,01/01/2016,07:40 PM,-1,12,4,1,5,8,...,NaN,NaN,0,0,0,2,0,0,0,2016
8,14839805,N,01/02/2016,03:44 PM,45,2,1,2,5,2,...,179.0,0.0,0,0,0,2,0,0,0,2016
9,14839874,N,01/01/2016,05:11 PM,45,12,6,1,11,2,...,NaN,NaN,0,0,1,4,0,1,0,2016

In [9]:
#Create crash output for onsystem crashes
all_years_data_df.to_csv("Resources/Crash_Data/Processed/OnSystemTravisCrashes.csv",index=False)

In [10]:
#Create and export only severe (K+A+B) crashes
severe_data_df = all_years_data_df[(all_years_data_df["Crash_Sev_ID"]==1) |
                                  (all_years_data_df["Crash_Sev_ID"]==2) |
                                  (all_years_data_df["Crash_Sev_ID"]==4)]
severe_data_df.to_csv("Resources/Crash_Data/Processed/SevereOnSystemTravisCrashes.csv",index=False)

In [11]:
#View data type
#all_years_data_df.dtypes

In [12]:
#Read RINO File
All_RINO_df=pd.read_csv("Resources/Roadway_Data/TravisOnSystemRINO.csv")

In [13]:
#All_RINO_df.columns.to_list()

In [14]:
#Create Subset of Roadway data
All_RINO_df = All_RINO_df[["REC", "RIA_RTE_ID", "FRM_DFO", "TO_DFO", "HWY", "HSYS",
                           "HNUM", "DI", "CO", "CITY", "RU", "F_SYSTEM", "SPD_MAX",
                           "HP_MED_W", "NUM_LANES", "SUR_W", "ADT_YEAR", "ADT_CUR", 
                           "ADT_ADJ", "TRK_AADT_PCT", "AADT_TRUCKS", "LANE_WIDTH", "LEN_SEC",
                           "LN_MILES", "DVMT", "DTRKVMT","HY_1","HY_2","HY_3","HY_4"]]
All_RINO_df

,REC,RIA_RTE_ID,FRM_DFO,TO_DFO,HWY,HSYS,HNUM,DI,CO,CITY,...,AADT_TRUCKS,LANE_WIDTH,LEN_SEC,LN_MILES,DVMT,DTRKVMT,HY_1,HY_2,HY_3,HY_4
0,1,FM0685-KG,7.856,7.894,FM0685,FM,685,14,227,32580,...,1288,12,0.038,0.152,1129.892,48.944,29334,26538,28012,24253
1,1,FM0685-KG,5.858,6.348,FM0685,FM,685,14,227,32580,...,1288,13,0.490,1.960,14569.660,631.120,29334,26538,28012,24253
2,1,FM0685-KG,7.894,7.958,FM0685,FM,685,14,227,32580,...,1288,12,0.064,0.256,1902.976,82.432,29334,26538,28012,24253
3,1,FM0685-KG,5.599,5.858,FM0685,FM,685,14,227,32580,...,1288,12,0.259,1.036,7701.106,333.592,29334,26538,28012,24253
4,1,FM0685-KG,6.367,7.856,FM0685,FM,685,14,227,32580,...,1288,13,1.489,5.956,44273.926,1917.832,29334,26538,28012,24253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,1,US0290-KG,135.429,135.456,US0290,US,290,14,227,26450,...,3083,12,0.027,0.108,1206.927,83.241,44701,36907,38829,33894
1825,1,US0290-KG,103.649,103.994,US0290,US,290,14,227,0,...,1106,12,0.345,1.380,12999.600,381.570,37680,36025,38369,31294
1826,1,US0290-KG,132.639,132.901,US0290,US,290,14,227,2100,...,1981,12,0.262,1.048,4971.450,519.022,18975,16148,15597,11263
1827,1,US0290-KG,111.507,112.341,US0290,US,290,14,227,2100,...,1809,12,0.834,4.170,57022.248,1508.706,68372,65855,65855,64393
1828,1,US0290-KG,142.980,143.139,US0290,US,290,14,227,13300,...,2626,12,0.159,0.636,4944.264,417.534,31096,26617,28544,26303

In [15]:
#All_RINO_df.dtypes

In [16]:
#Write adjusted RINO Data
All_RINO_df.to_csv("Resources/Roadway_Data/TravisOnSystemRINOAdjusted.csv",index=False)

In [17]:
#Sort data by HWY name and DFO
All_RINO_df = All_RINO_df.sort_values(by=['HWY',"FRM_DFO"], ascending=(True,True))
#Add Corridor ID column for each unique street name
All_RINO_df["Corridor_ID"]=1
#Add Roadway ID column for each roadway segment
All_RINO_df["Road_ID"]=1

In [18]:
#Showing unique street names
unique_streets=All_RINO_df.HWY.unique()
unique_streets

array(['FM0685', 'FM0734', 'FM0812', 'FM0969', 'FM0973', 'FM1100',
       'FM1325', 'FM1327', 'FM1625', 'FM1626', 'FM1825', 'FM2304',
       'FM3177', 'FS1825', 'IH0035', 'RM0012', 'RM0620', 'RM1431',
       'RM1826', 'RM2222', 'RM2244', 'RM2322', 'RM2769', 'RM3238',
       'SH0045', 'SH0071', 'SH0095', 'SH0130', 'SH0165', 'SL0001',
       'SL0111', 'SL0212', 'SL0275', 'SL0343', 'SL0360', 'SS0069',
       'US0183', 'US0290'], dtype=object)

In [19]:
#Adjust Corridor ID numbering to be unique for each corridor name
for i in range(1, len(All_RINO_df) ):
    
    j = All_RINO_df.columns.get_loc('Corridor_ID')
    k = All_RINO_df.columns.get_loc('HWY')
    l = All_RINO_df.columns.get_loc('Road_ID')
    
    All_RINO_df.iat[i , l] = All_RINO_df.iat[i - 1, l] + 1
    
    if All_RINO_df.iat[i , k]==All_RINO_df.iat[i - 1, k]:
        All_RINO_df.iat[i , j] = All_RINO_df.iat[i - 1, j]
        
    else:
        All_RINO_df.iat[i , j] = All_RINO_df.iat[i - 1, j] + 1

In [20]:
#Get Boundary DFO
Min_DFO_Limit=All_RINO_df.groupby("Corridor_ID")["FRM_DFO"].min()
Max_DFO_Limit=All_RINO_df.groupby("Corridor_ID")["TO_DFO"].max()
#Get Corridor Name
Corridor_Names=All_RINO_df.groupby("Corridor_ID")["HWY"].max()
#Calculate Corridor Length
Corridor_Lengths=All_RINO_df.groupby("Corridor_ID")["LEN_SEC"].sum()

In [21]:
#Create Dataframe with Corridor Names, Numbers, and Min and Max DFO
Corridor_Summary_df=pd.DataFrame({"Highway Name":Corridor_Names,"From DFO":Min_DFO_Limit,"To DFO":Max_DFO_Limit,"Length (mi)":Corridor_Lengths})
Corridor_Summary_df

            Highway Name  From DFO   To DFO  Length (mi)
Corridor_ID
1                 FM0685     5.599    7.958        2.359
2                 FM0734     6.547   19.385       12.838
3                 FM0812     0.000    6.979        6.979
4                 FM0969     0.000   16.712       16.712
5                 FM0973     6.809   36.403       27.603
6                 FM1100     0.000    6.520        6.520
7                 FM1325     1.448    8.171        3.484
8                 FM1327     0.000    7.331        7.331
9                 FM1625     0.000    5.130        5.130
10                FM1626     0.000    4.236        4.236
11                FM1825     0.000    3.913        3.913
12                FM2304     0.000    4.520        4.520
13                FM3177     0.000    4.681        4.681
14                FS1825     0.000    0.715        0.715
15                IH0035   221.242  249.576       28.334
16                RM0012     0.000    0.466        0.466
17                RM0620     0.000   16.792       16.792
18                RM1431    36.280   55.945       19.665
19                RM1826     0.000    4.453        4.453
20                RM2222     0.000   10.772       10.772
21                RM2244     0.000   11.249       11.249
22                RM2322     0.000    4.586        4.586
23                RM2769     0.000    7.198        7.198
24                RM3238     0.000    6.846        6.846
25                SH0045     0.000   53.554       13.440
26                SH0071    94.147  137.918       35.949
27                SH0095    46.110   47.178        1.068
28                SH0130    14.441   49.444       35.003
29                SH0165     0.000    0.511        0.511
30                SL0001     1.155   25.565       24.410
31                SL0111     0.000    2.596        2.596
32                SL0212     0.000    2.106        2.106
33                SL0275     0.000   21.432        9.402
34                SL0343     0.000    5.085        5.085
35                SL0360     0.000   13.956       13.956
36                SS0069     0.000    1.309        1.309
37                US0183   310.384  338.339       27.955
38                US0290   103.120  143.139       32.114

In [22]:
#Join Crashes and RINO data
join_df = pd.merge(all_years_data_df,All_RINO_df, how='outer',left_on='Street_Name',right_on='HWY')

#Condition join for only crashes with DFO within limits
join_df_inner= join_df[(join_df["Dfo"]>=join_df["FRM_DFO"]) &(join_df["Dfo"]<=join_df["TO_DFO"])]

In [23]:
join_df_inner

,Crash_ID,Cmv_Involv_Fl,Crash_Date,Crash_Time,Crash_Speed_Limit,Wthr_Cond_ID,Light_Cond_ID,Surf_Cond_ID,Traffic_Cntl_ID,Harm_Evnt_ID,...,LEN_SEC,LN_MILES,DVMT,DTRKVMT,HY_1,HY_2,HY_3,HY_4,Corridor_ID,Road_ID
21,14839123,N,01/01/2016,12:23 AM,80,11,4,1,20,10,...,2.350,9.400,107916.700,22407.250,43413.0,43788.0,42315.0,38748.0,28.0,1188.0
83,14840287,N,01/01/2016,07:40 AM,80,11,1,1,11,7,...,2.642,10.568,121325.924,25191.470,43413.0,43788.0,42315.0,38748.0,28.0,1192.0
143,14840860,N,01/03/2016,06:48 PM,80,11,4,1,1,6,...,1.213,4.852,55703.386,11565.955,43413.0,43788.0,42315.0,38748.0,28.0,1194.0
214,14850383,N,01/07/2016,09:05 AM,80,5,1,1,20,2,...,0.099,0.396,3340.359,796.257,31038.0,30351.0,28878.0,25311.0,28.0,1207.0
244,14863190,N,01/12/2016,04:01 PM,65,11,1,1,5,2,...,0.083,0.332,3942.915,339.719,45033.0,45013.0,43020.0,39274.0,28.0,1179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5887315,17302636,N,09/22/2019,12:40 PM,45,11,1,1,11,2,...,0.527,1.054,5505.042,349.928,10460.0,10329.0,9326.0,7479.0,14.0,489.0
5887322,17318171,N,09/30/2019,10:45 AM,45,2,1,2,17,2,...,0.001,0.002,10.446,0.664,10460.0,10329.0,9326.0,7479.0,14.0,491.0
5887323,17318171,N,09/30/2019,10:45 AM,45,2,1,2,17,2,...,0.119,0.238,1243.074,79.016,10460.0,10329.0,9326.0,7479.0,14.0,492.0
5887329,17361764,N,10/24/2019,02:07 PM,45,12,1,1,20,2,...,0.037,0.074,386.502,24.568,10460.0,10329.0,9326.0,7479.0,14.0,493.0
5887331,17648044,N,04/04/2020,03:21 PM,-1,2,1,2,5,2,...,0.031,0.062,323.826,20.584,10460.0,10329.0,9326.0,7479.0,14.0,490.0

In [24]:
#Create variable to calculate Average AADT
Average_AADT = (join_df_inner["ADT_ADJ"]+join_df_inner["HY_1"]+join_df_inner["HY_2"]
                +join_df_inner["HY_3"]+join_df_inner["HY_4"])/5

#Add column that computes average AADT
join_df_inner["Average_AADT"] =Average_AADT.to_list()

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
#Add RLD, PED, & INT columns
join_df_inner["RLD"]=0
join_df_inner["PED"]=0
join_df_inner["INT"]=0
#Adjust new column data
for i in range(0, len(join_df_inner)):
    
    j = join_df_inner.columns.get_loc('RLD')
    k = join_df_inner.columns.get_loc('PED')
    l = join_df_inner.columns.get_loc('INT')
    m = join_df_inner.columns.get_loc('Intrsct_Relat_ID')
    n = join_df_inner.columns.get_loc('FHE_Collsn_ID')
    o = join_df_inner.columns.get_loc('Harm_Evnt_ID')
    
    if join_df_inner.iat[i, m]<4:
        join_df_inner.iat[i, l] = 1
        
    if join_df_inner.iat[i, o]==1:
        join_df_inner.iat[i, k] = 1
        
    if join_df_inner.iat[i, n]==30:
        join_df_inner.iat[i, j] = 1
        
    if (join_df_inner.iat[i, n]<5) & (join_df_inner.iat[i, o]>6):
        join_df_inner.iat[i, j] = 1

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GHANDOURH\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [26]:
#Append All Crashes that meet the Highway Name and DFO Criteria
#tempdf= pd.DataFrame()
#Top10CongestedCrashes_df= pd.DataFrame()
#for i in Top10_Summary_df.index:
    #tempdf=all_years_data_df[(all_years_data_df["Street_Name"]==Top10_Summary_df["Highway Name"][i])&(all_years_data_df["Dfo"]>Top10_Summary_df["From DFO"][i])
                         #&(all_years_data_df["Dfo"]<Top10_Summary_df["To DFO"][i])]
    #Top10CongestedCrashes_df=Top10CongestedCrashes_df.append(tempdf)

In [27]:
#Create a seperate Df for each of the top 10 congested corridors
#corridor1_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[0]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[0]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[0]["To DFO"])]
#corridor1_Crashes_df.loc[:,'Top10']=1
#corridor2_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[1]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[1]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[1]["To DFO"])]
#corridor2_Crashes_df.loc[:,'Top10']=2

#corridor3_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[2]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[2]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[2]["To DFO"])]
#corridor3_Crashes_df.loc[:,'Top10']=3

#corridor4_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[3]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[3]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[3]["To DFO"])]
#corridor4_Crashes_df.loc[:,'Top10']=4

#corridor5_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[4]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[4]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[4]["To DFO"])]
#corridor5_Crashes_df.loc[:,'Top10']=5

#corridor6_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[5]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[5]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[5]["To DFO"])]
#corridor6_Crashes_df.loc[:,'Top10']=6

#corridor7_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[6]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[6]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[6]["To DFO"])]
#corridor7_Crashes_df.loc[:,'Top10']=7

#corridor8_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[7]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[7]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[7]["To DFO"])]
#corridor8_Crashes_df.loc[:,'Top10']=8

#corridor9_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[8]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[8]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[8]["To DFO"])]
#corridor9_Crashes_df.loc[:,'Top10']=9

#corridor10_Crashes_df=Top10CongestedCrashes_df[(Top10CongestedCrashes_df["Street_Name"]==Top10_Summary_df.iloc[9]["Highway Name"])
                                              #&(Top10CongestedCrashes_df["Dfo"]>Top10_Summary_df.iloc[9]["From DFO"])
                                              #&(Top10CongestedCrashes_df["Dfo"]<Top10_Summary_df.iloc[9]["To DFO"])]
#corridor10_Crashes_df.loc[:,'Top10']=10

In [28]:
#Create one dataframe holding all crash data
#Top10CongestedCrashes_df=pd.concat([corridor1_Crashes_df,corridor2_Crashes_df,corridor3_Crashes_df,corridor4_Crashes_df,
                                   #corridor5_Crashes_df,corridor6_Crashes_df,corridor7_Crashes_df,corridor8_Crashes_df,
                                   #corridor9_Crashes_df,corridor10_Crashes_df])
#Save File
#Top10CongestedCrashes_df.to_csv("Resources/Crash_Data/Processed/FortBendCrashesAdjusted.csv")

In [29]:
#Create number of crashes list by corridor
Corridor_num_crashes=join_df_inner.groupby(["Corridor_ID"])["Crash_ID"].count()

In [30]:
#Summarize number of crashes by corridor
Corridor_Summary_df["Number of Crashes (5 Years)"]=Corridor_num_crashes

In [31]:
#Summarize number of crashes by mile by corridor
Corridor_Summary_df["Crashes Per Mile Per Year"]=Corridor_Summary_df["Number of Crashes (5 Years)"]/(Corridor_Summary_df["Length (mi)"]*5)

In [32]:
#Show summary
Corridor_Summary_df

,Highway Name,From DFO,To DFO,Length (mi),Number of Crashes (5 Years),Crashes Per Mile Per Year
Corridor_ID,,,,,,
1,FM0685,5.599,7.958,2.359,548,46.460365
2,FM0734,6.547,19.385,12.838,1607,25.035052
3,FM0812,0.000,6.979,6.979,799,22.897263
4,FM0969,0.000,16.712,16.712,1157,13.846338
5,FM0973,6.809,36.403,27.603,877,6.354382
6,FM1100,0.000,6.520,6.520,30,0.920245
7,FM1325,1.448,8.171,3.484,523,30.022962
8,FM1327,0.000,7.331,7.331,169,4.610558
9,FM1625,0.000,5.130,5.130,93,3.625731
10,FM1626,0.000,4.236,4.236,351,16.572238
11,FM1825,0.000,3.913,3.913,809,41.349348
12,FM2304,0.000,4.520,4.520,482,21.327434
13,FM3177,0.000,4.681,4.681,198,8.459731
14,FS1825,0.000,0.715,0.715,16,4.475524
15,IH0035,221.242,249.576,28.334,16021,113.086751
16,RM0012,0.000,0.466,0.466,14,6.008584
17,RM0620,0.000,16.792,16.792,2592,30.871844
18,RM1431,36.280,55.945,19.665,426,4.332571
19,RM1826,0.000,4.453,4.453,144,6.467550
20,RM2222,0.000,10.772,10.772,985,18.288154
21,RM2244,0.000,11.249,11.249,1159,20.606276
22,RM2322,0.000,4.586,4.586,23,1.003053
23,RM2769,0.000,7.198,7.198,176,4.890247
24,RM3238,0.000,6.846,6.846,96,2.804557
25,SH0045,0.000,53.554,13.440,256,3.809524
26,SH0071,94.147,137.918,35.949,4253,23.661298
27,SH0095,46.110,47.178,1.068,19,3.558052
28,SH0130,14.441,49.444,35.003,1685,9.627746
29,SH0165,0.000,0.511,0.511,10,3.913894
30,SL0001,1.155,25.565,24.410,5240,42.933224
31,SL0111,0.000,2.596,2.596,449,34.591680
32,SL0212,0.000,2.106,2.106,121,11.490978
33,SL0275,0.000,21.432,9.402,1387,29.504361
34,SL0343,0.000,5.085,5.085,1696,66.705998
35,SL0360,0.000,13.956,13.956,1597,22.886214
36,SS0069,0.000,1.309,1.309,214,32.696715
37,US0183,310.384,338.339,27.955,6795,48.613844
38,US0290,103.120,143.139,32.114,5033,31.344585

In [33]:
#Summarize average,min, max number of lanes and average number of lanes for each corridor
Avrg_Lanes=join_df_inner.groupby("Corridor_ID")["NUM_LANES"].mean()
Min_Lanes=join_df_inner.groupby("Corridor_ID")["NUM_LANES"].min()
Max_Lanes=join_df_inner.groupby("Corridor_ID")["NUM_LANES"].max()

In [34]:
#Summarize average,min, max number of lanes and average number AADT for each corridor
Avrg_AADT=join_df_inner.groupby("Corridor_ID")["Average_AADT"].mean()
Min_AADT=join_df_inner.groupby("Corridor_ID")["Average_AADT"].min()
Max_AADT=join_df_inner.groupby("Corridor_ID")["Average_AADT"].max()

In [35]:
#Summarize average number of lanes Crashes Per Mile Per Lane
Corridor_Summary_df["Average Lanes"]=Avrg_Lanes
Corridor_Summary_df["Crashes Per Mile Per Lane Per Year"]=Corridor_Summary_df["Crashes Per Mile Per Year"]/(Corridor_Summary_df["Average Lanes"]*5)

In [36]:
#Summarize average AADT,VMT, and Crashes Per 100MVMT
Corridor_Summary_df["Average AADT"]=Avrg_AADT
Corridor_Summary_df["Average VMT (100M)"]=Corridor_Summary_df["Average AADT"]*365*Corridor_Summary_df["Length (mi)"]/100000000

In [37]:
Corridor_Summary_df

,Highway Name,From DFO,To DFO,Length (mi),Number of Crashes (5 Years),Crashes Per Mile Per Year,Average Lanes,Crashes Per Mile Per Lane Per Year,Average AADT,Average VMT (100M)
Corridor_ID,,,,,,,,,,
1,FM0685,5.599,7.958,2.359,548,46.460365,4.000000,2.323018,27574.200000,0.237424
2,FM0734,6.547,19.385,12.838,1607,25.035052,5.463597,0.916431,46663.196142,2.186577
3,FM0812,0.000,6.979,6.979,799,22.897263,2.633292,1.739060,15200.551940,0.387209
4,FM0969,0.000,16.712,16.712,1157,13.846338,3.323250,0.833301,20549.650475,1.253504
5,FM0973,6.809,36.403,27.603,877,6.354382,2.209806,0.575108,12503.795439,1.259769
6,FM1100,0.000,6.520,6.520,30,0.920245,2.000000,0.092025,1571.360000,0.037395
7,FM1325,1.448,8.171,3.484,523,30.022962,4.068834,1.475753,39387.066922,0.500870
8,FM1327,0.000,7.331,7.331,169,4.610558,2.023669,0.455663,13437.456805,0.359561
9,FM1625,0.000,5.130,5.130,93,3.625731,2.000000,0.362573,5680.541935,0.106365
10,FM1626,0.000,4.236,4.236,351,16.572238,2.131054,1.555309,16879.360684,0.260979
11,FM1825,0.000,3.913,3.913,809,41.349348,3.406675,2.427549,26335.526329,0.376136
12,FM2304,0.000,4.520,4.520,482,21.327434,2.721992,1.567046,30633.802905,0.505396
13,FM3177,0.000,4.681,4.681,198,8.459731,4.000000,0.422987,11537.688889,0.197129
14,FS1825,0.000,0.715,0.715,16,4.475524,2.000000,0.447552,9608.000000,0.025074
15,IH0035,221.242,249.576,28.334,16021,113.086751,6.615567,3.418807,160511.945659,16.600001
16,RM0012,0.000,0.466,0.466,14,6.008584,2.000000,0.600858,7996.800000,0.013602
17,RM0620,0.000,16.792,16.792,2592,30.871844,4.143133,1.490266,39036.119753,2.392555
18,RM1431,36.280,55.945,19.665,426,4.332571,3.676056,0.235718,16735.437559,1.201224
19,RM1826,0.000,4.453,4.453,144,6.467550,2.000000,0.646755,14419.252778,0.234363
20,RM2222,0.000,10.772,10.772,985,18.288154,4.000000,0.914408,35101.832487,1.380127
21,RM2244,0.000,11.249,11.249,1159,20.606276,4.399482,0.936759,33392.109922,1.371042
22,RM2322,0.000,4.586,4.586,23,1.003053,2.000000,0.100305,3958.600000,0.066263
23,RM2769,0.000,7.198,7.198,176,4.890247,2.068182,0.472903,4941.970455,0.129839
24,RM3238,0.000,6.846,6.846,96,2.804557,2.000000,0.280456,14213.616667,0.355168
25,SH0045,0.000,53.554,13.440,256,3.809524,4.617188,0.165015,21281.125000,1.043967
26,SH0071,94.147,137.918,35.949,4253,23.661298,5.415942,0.873765,60577.287515,7.948579
27,SH0095,46.110,47.178,1.068,19,3.558052,2.263158,0.314433,5994.063158,0.023366
28,SH0130,14.441,49.444,35.003,1685,9.627746,4.161424,0.462714,39171.131751,5.004541
29,SH0165,0.000,0.511,0.511,10,3.913894,2.000000,0.391389,2382.400000,0.004444
30,SL0001,1.155,25.565,24.410,5240,42.933224,6.032252,1.423456,110174.811450,9.816190
31,SL0111,0.000,2.596,2.596,449,34.591680,4.000000,1.729584,27596.000000,0.261483
32,SL0212,0.000,2.106,2.106,121,11.490978,2.000000,1.149098,7099.054545,0.054570
33,SL0275,0.000,21.432,9.402,1387,29.504361,4.031723,1.463610,30696.474549,1.053420
34,SL0343,0.000,5.085,5.085,1696,66.705998,4.081958,3.268334,40624.847995,0.754007
35,SL0360,0.000,13.956,13.956,1597,22.886214,4.078898,1.122176,59510.311209,3.031420
36,SS0069,0.000,1.309,1.309,214,32.696715,3.598131,1.817428,17269.200000,0.082510
37,US0183,310.384,338.339,27.955,6795,48.613844,5.065636,1.919358,94663.890419,9.659101
38,US0290,103.120,143.139,32.114,5033,31.344585,5.029803,1.246354,55798.740314,6.540511

In [38]:
#Calculate Crash Rate as Number of crashes by 100M VMT
Corridor_Summary_df["Crashes Per 100M VMT"]=Corridor_Summary_df["Number of Crashes (5 Years)"]/(Corridor_Summary_df["Average VMT (100M)"]*5)

In [39]:
Corridor_Summary_df

,Highway Name,From DFO,To DFO,Length (mi),Number of Crashes (5 Years),Crashes Per Mile Per Year,Average Lanes,Crashes Per Mile Per Lane Per Year,Average AADT,Average VMT (100M),Crashes Per 100M VMT
Corridor_ID,,,,,,,,,,,
1,FM0685,5.599,7.958,2.359,548,46.460365,4.000000,2.323018,27574.200000,0.237424,461.622350
2,FM0734,6.547,19.385,12.838,1607,25.035052,5.463597,0.916431,46663.196142,2.186577,146.987754
3,FM0812,0.000,6.979,6.979,799,22.897263,2.633292,1.739060,15200.551940,0.387209,412.697040
4,FM0969,0.000,16.712,16.712,1157,13.846338,3.323250,0.833301,20549.650475,1.253504,184.602519
5,FM0973,6.809,36.403,27.603,877,6.354382,2.209806,0.575108,12503.795439,1.259769,139.231845
6,FM1100,0.000,6.520,6.520,30,0.920245,2.000000,0.092025,1571.360000,0.037395,160.448291
7,FM1325,1.448,8.171,3.484,523,30.022962,4.068834,1.475753,39387.066922,0.500870,208.836801
8,FM1327,0.000,7.331,7.331,169,4.610558,2.023669,0.455663,13437.456805,0.359561,94.003394
9,FM1625,0.000,5.130,5.130,93,3.625731,2.000000,0.362573,5680.541935,0.106365,174.869047
10,FM1626,0.000,4.236,4.236,351,16.572238,2.131054,1.555309,16879.360684,0.260979,268.987627
11,FM1825,0.000,3.913,3.913,809,41.349348,3.406675,2.427549,26335.526329,0.376136,430.163743
12,FM2304,0.000,4.520,4.520,482,21.327434,2.721992,1.567046,30633.802905,0.505396,190.741336
13,FM3177,0.000,4.681,4.681,198,8.459731,4.000000,0.422987,11537.688889,0.197129,200.883773
14,FS1825,0.000,0.715,0.715,16,4.475524,2.000000,0.447552,9608.000000,0.025074,127.619805
15,IH0035,221.242,249.576,28.334,16021,113.086751,6.615567,3.418807,160511.945659,16.600001,193.024085
16,RM0012,0.000,0.466,0.466,14,6.008584,2.000000,0.600858,7996.800000,0.013602,205.855756
17,RM0620,0.000,16.792,16.792,2592,30.871844,4.143133,1.490266,39036.119753,2.392555,216.672134
18,RM1431,36.280,55.945,19.665,426,4.332571,3.676056,0.235718,16735.437559,1.201224,70.927672
19,RM1826,0.000,4.453,4.453,144,6.467550,2.000000,0.646755,14419.252778,0.234363,122.886499
20,RM2222,0.000,10.772,10.772,985,18.288154,4.000000,0.914408,35101.832487,1.380127,142.740505
21,RM2244,0.000,11.249,11.249,1159,20.606276,4.399482,0.936759,33392.109922,1.371042,169.068535
22,RM2322,0.000,4.586,4.586,23,1.003053,2.000000,0.100305,3958.600000,0.066263,69.420749
23,RM2769,0.000,7.198,7.198,176,4.890247,2.068182,0.472903,4941.970455,0.129839,271.105178
24,RM3238,0.000,6.846,6.846,96,2.804557,2.000000,0.280456,14213.616667,0.355168,54.058858
25,SH0045,0.000,53.554,13.440,256,3.809524,4.617188,0.165015,21281.125000,1.043967,49.043702
26,SH0071,94.147,137.918,35.949,4253,23.661298,5.415942,0.873765,60577.287515,7.948579,107.012837
27,SH0095,46.110,47.178,1.068,19,3.558052,2.263158,0.314433,5994.063158,0.023366,162.629065
28,SH0130,14.441,49.444,35.003,1685,9.627746,4.161424,0.462714,39171.131751,5.004541,67.338843
29,SH0165,0.000,0.511,0.511,10,3.913894,2.000000,0.391389,2382.400000,0.004444,450.092266
30,SL0001,1.155,25.565,24.410,5240,42.933224,6.032252,1.423456,110174.811450,9.816190,106.762399
31,SL0111,0.000,2.596,2.596,449,34.591680,4.000000,1.729584,27596.000000,0.261483,343.425586
32,SL0212,0.000,2.106,2.106,121,11.490978,2.000000,1.149098,7099.054545,0.054570,443.469363
33,SL0275,0.000,21.432,9.402,1387,29.504361,4.031723,1.463610,30696.474549,1.053420,263.332732
34,SL0343,0.000,5.085,5.085,1696,66.705998,4.081958,3.268334,40624.847995,0.754007,449.862998
35,SL0360,0.000,13.956,13.956,1597,22.886214,4.078898,1.122176,59510.311209,3.031420,105.363179
36,SS0069,0.000,1.309,1.309,214,32.696715,3.598131,1.817428,17269.200000,0.082510,518.727221
37,US0183,310.384,338.339,27.955,6795,48.613844,5.065636,1.919358,94663.890419,9.659101,140.696323
38,US0290,103.120,143.139,32.114,5033,31.344585,5.029803,1.246354,55798.740314,6.540511,153.902354

In [40]:
#Summarize crashe statistics by corridor
Corridor_Summary_df.to_csv("Resources/Crash_Data/Processed/CrashStatisticsSummary.csv")

In [41]:
#Summarize Total Number by Severity
df=join_df_inner.groupby(['Corridor_ID','Crash_Sev_ID']).count()["Crash_ID"].to_frame()
# Reset the index on the DataFrame. This is needed to use the 'pivot()' function.
df = df.reset_index()

In [42]:
#Pivot Table of Crash Severities and format and rename columns
df=df.pivot(index="Corridor_ID",columns="Crash_Sev_ID",values="Crash_ID")
df

Crash_Sev_ID      0      1       2       3      4       5
Corridor_ID
1.0             2.0    6.0    58.0   101.0    1.0   380.0
2.0            14.0   49.0   293.0   372.0   13.0   866.0
3.0            32.0   40.0   117.0   169.0   13.0   428.0
4.0            32.0   52.0   234.0   221.0   11.0   607.0
5.0            36.0   43.0   142.0   151.0   15.0   490.0
6.0             2.0    2.0     3.0     1.0    NaN    22.0
7.0             6.0   18.0    89.0   120.0    6.0   284.0
8.0             8.0   13.0    25.0    33.0    5.0    85.0
9.0             9.0    7.0    15.0    24.0    1.0    37.0
10.0           12.0   10.0    50.0    51.0    3.0   225.0
11.0            5.0   20.0    95.0   179.0    2.0   508.0
12.0            5.0   23.0   112.0   109.0    5.0   228.0
13.0            8.0   12.0    50.0    43.0    4.0    81.0
14.0            NaN    NaN     2.0     2.0    1.0    11.0
15.0          345.0  408.0  2964.0  3501.0  103.0  8700.0
16.0            1.0    1.0     2.0     4.0    NaN     6.0
17.0           27.0   92.0   322.0   397.0   16.0  1738.0
18.0            8.0   32.0    71.0    57.0    8.0   250.0
19.0            5.0    6.0    18.0    27.0    1.0    87.0
20.0           16.0   38.0   218.0   167.0    9.0   537.0
21.0            6.0   35.0   111.0   175.0    4.0   828.0
22.0            NaN    2.0     2.0     3.0    NaN    16.0
23.0           11.0    4.0    29.0    19.0    2.0   111.0
24.0            4.0    7.0     7.0    17.0    NaN    61.0
25.0           11.0   13.0    35.0    45.0    1.0   151.0
26.0           84.0  160.0   751.0   851.0   53.0  2354.0
27.0            NaN    4.0     3.0     4.0    NaN     8.0
28.0           43.0   41.0   210.0   321.0   23.0  1047.0
29.0            1.0    NaN     3.0     NaN    NaN     6.0
30.0          115.0  105.0   864.0  1065.0   22.0  3069.0
31.0            7.0   17.0   130.0    86.0    7.0   202.0
32.0            2.0    1.0     8.0    17.0    NaN    93.0
33.0           32.0   41.0   291.0   349.0   19.0   655.0
34.0           14.0   57.0   329.0   386.0    6.0   904.0
35.0           27.0   24.0   273.0   344.0   11.0   918.0
36.0            4.0    3.0    39.0    38.0    3.0   127.0
37.0          228.0  178.0  1250.0  1419.0   52.0  3668.0
38.0          107.0  167.0   918.0   970.0   42.0  2829.0

In [43]:
#Export Joined File
join_df_inner.to_csv("Resources/Crash_Data/Processed/Crash&RoadwayData.csv",index=False)